Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

file-organization-check:
  name: File Organization Validation
  entry: python scripts/validate_file_organization.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

root-directory-protection:
  name: Root Directory Protection
  entry: python scripts/protect_root_directory.py
  language: python
  stages:
  - commit
  verbose: true

stray-file-detection:
  name: Stray File Detection
  entry: python scripts/detect_stray_files.py
  language: python
  pass_filenames: true
  stages:
  - commit

organize-imports:
  name: Organize Python Imports
  entry: python scripts/organize_imports.py
  language: python
  stages:
  - commit

validate-directory-structure:
  name: Validate Directory Structure
  entry: python scripts/validate_directory_structure.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

check-file-permissions:
  name: Check File Permissions
  entry: python scripts/check_file_permissions.py
  language: python
  stages:
  - commit

generate-structure-report:
  name: Generate Structure Report
  entry: python scripts/generate_structure_report.py
  language: python
  pass_filenames: false
  stages:
  - push

feat: Complete UI testing infrastructure with enhanced package scripts and ensemble API endpoint
  package.json
  src/pynomaly/presentation/api/endpoints/ensemble.py
  tailwind.config.js
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete comprehensive web UI infrastructure with production dependencies
  package-lock.json
  package.json
  src/pynomaly/presentation/web/static/css/input.css
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update README with comprehensive installation guide and enhance PWA infrastructure
  README.md
  lighthouserc.js
  src/pynomaly/presentation/web/static/manifest.json
  src/pynomaly/presentation/web/static/sw.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance ensemble DTO with comprehensive voting strategies and validation
  src/pynomaly/application/dto/ensemble_dto.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive professional workflow BDD scenarios for data scientists, ML engineers, and security analysts
  tests/ui/bdd/features/data_scientist_workflows.feature
  tests/ui/bdd/features/ml_engineer_workflows.feature
  tests/ui/bdd/features/security_analyst_workflows.feature
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

test: Add comprehensive ensemble integration testing and enhanced performance validation
  scripts/test_ensemble_integration.py
  tests/ui/test_performance_enhanced.spec.ts
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive documentation maintenance rules and quality standards
  docs/project/DOCUMENTATION_MAINTENANCE_RULES.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive Storybook design system documentation
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  package.json
  stories/01-Introduction.stories.mdx
  stories/02-Foundation/Colors.stories.js
  stories/02-Foundation/Typography.stories.js
  stories/03-Components/Button.stories.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance Progressive Web App capabilities with advanced service worker
  src/pynomaly/presentation/web/static/js/pwa-install.js
  src/pynomaly/presentation/web/static/sw.js
  src/pynomaly/presentation/web/templates/offline.html
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update documentation with Storybook integration and performance enhancements
  README.md
  TODO.md
  docs/project/DOCUMENTATION_MAINTENANCE_RULES.md
  tdd_storage/tdd_violations.json
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive performance monitoring and infrastructure observability
  scripts/performance-regression-detector.js
  scripts/performance-test-suite.js
  src/pynomaly/infrastructure/monitoring/dashboards.py
  src/pynomaly/infrastructure/monitoring/health_checks.py
  src/pynomaly/infrastructure/monitoring/middleware.py
  src/pynomaly/infrastructure/monitoring/prometheus_metrics.py
  src/pynomaly/presentation/api/endpoints/monitoring.py
  tests/infrastructure/monitoring/test_health_checks.py
  tests/infrastructure/monitoring/test_prometheus_metrics.py
  tests/ui/accessibility/automated_accessibility_tests.py
  tests/ui/accessibility/wcag_validation_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete design system documentation and final UI infrastructure
  CHANGELOG.md
  docs/design-system/README.md
  docs/storybook/README.md
  scripts/bundle-analyzer.js
  scripts/real-user-monitoring.js
  src/pynomaly/presentation/web/static/js/components.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Finalize API documentation and package configuration
  package.json
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/docs/api_docs.py
  src/pynomaly/presentation/api/docs/openapi_config.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete cross-browser testing infrastructure and accessibility documentation
  TODO.md
  docs/accessibility/WCAG_2.1_AA_Compliance_Guide.md
  docs/project/DOCUMENTATION_IMPROVEMENT_PLAN.md
  docs/reference/algorithms/README.md
  playwright.config.ts
  src/pynomaly/presentation/api/deps.py
  src/pynomaly/presentation/api/endpoints/ensemble.py
  src/pynomaly/presentation/api/endpoints/explainability.py
  tests/ui/global-setup.ts
  tests/ui/test_cross_browser_comprehensive.spec.ts
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Final API endpoint refinements and testing infrastructure completion
  docs/accessibility/Accessibility_Testing_Checklist.md
  src/pynomaly/presentation/api/endpoints/explainability.py
  tests/ui/global-teardown.ts
  tests/ui/reporters/cross-browser-reporter.ts
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete cross-browser testing suite and final system optimization
  src/pynomaly/presentation/api/endpoints/explainability.py
  tests/ui/cross-browser/responsive-design.spec.ts
  tests/ui/reporters/cross-browser-reporter.ts
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Final explainability API completion and algorithm documentation
  docs/reference/algorithms/core-algorithms.md
  src/pynomaly/presentation/api/endpoints/explainability.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete responsive design testing framework with comprehensive cross-browser validation
  CHANGELOG.md
  TODO.md
  docs/reference/algorithms/experimental-algorithms.md
  docs/reference/algorithms/specialized-algorithms.md
  package.json
  scripts/browser-compatibility-matrix.js
  src/pynomaly/application/services/model_ab_testing_service.py
  src/pynomaly/application/services/model_drift_detection_service.py
  src/pynomaly/application/services/model_governance_service.py
  src/pynomaly/application/services/model_lineage_service.py
  src/pynomaly/application/services/streaming_service.py
  tdd_storage/tdd_violations.json
  tests/application/services/model_ab_testing_service_test.py
  tests/application/services/model_drift_detection_service_test.py
  tests/application/services/model_governance_service_test.py
  tests/application/services/model_lineage_service_test.py
  tests/application/services/streaming_service_test.py
  tests/ui/cross-browser/responsive-design.spec.ts
  tests/ui/device/test_device_compatibility.spec.ts
  tests/ui/mobile/touch-interactions.spec.ts
  tests/ui/reporters/cross-browser-reporter.ts
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Update TDD violation tracking with current status
  tdd_storage/tdd_violations.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Consolidate algorithm documentation structure
  docs/archive/legacy-algorithm-docs/03-algorithm-options-functionality.md
  docs/archive/legacy-algorithm-docs/README.md
  docs/archive/legacy-algorithm-docs/algorithms-comprehensive.md
  docs/archive/legacy-algorithm-docs/algorithms.md
  docs/reference/algorithms/algorithm-comparison.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete TDD compliance and Storybook design system integration
  .storybook/main.js
  .storybook/preview.js
  TODO.md
  docs/testing/cross-browser-testing.md
  src/pynomaly/presentation/web/static/sw.js
  stories/DesignTokens.stories.mdx
  stories/Introduction.stories.mdx
  tests/application/services/deep_learning_integration_service_test.py
  tests/domain/entities/lineage_record_test.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete PWA and Storybook infrastructure integration
  src/pynomaly/application/use_cases/drift_monitoring_use_case.py
  src/pynomaly/presentation/web/static/js/src/utils/pwa-manager.js
  stories/Components.stories.js
  stories/DesignTokens.stories.mdx
  tests/application/use_cases/drift_monitoring_use_case_test.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete comprehensive documentation restructuring and infrastructure finalization
  docs/api/API_QUICK_REFERENCE.md
  docs/api/WEB_API_SETUP_GUIDE.md
  docs/archive/historical-project-docs/AUTONOMOUS_MODE_ANALYSIS_REPORT.md
  docs/archive/historical-project-docs/FINAL_TESTING_EXCELLENCE_ACHIEVEMENT.md
  docs/archive/historical-project-docs/PRESENTATION_COMPONENTS_TESTING_REPORT.md
  docs/archive/historical-project-docs/README.md
  docs/archive/historical-project-docs/SCRIPT_TESTING_SUMMARY.md
  docs/archive/historical-project-docs/SETUP_SIMPLE_TESTING_REPORT.md
  docs/archive/historical-project-docs/TESTING_INFRASTRUCTURE_COMPLETION_SUMMARY.md
  docs/archive/historical-project-docs/TESTING_INFRASTRUCTURE_OPTIMIZATION_COMPLETE.md
  docs/archive/historical-project-docs/UI_TESTING_EXECUTION_SUMMARY.md
  docs/archive/historical-project-docs/ULTIMATE_TESTING_TRANSCENDENCE_COMPLETE.md
  docs/deployment/PRODUCTION_READINESS_SUMMARY.md
  docs/development/DEPENDENCY_GUIDE.md
  docs/development/DEPENDENCY_RESTRUCTURING_SUMMARY.md
  docs/development/DEPENDENCY_UPDATE_SUMMARY.md
  docs/development/troubleshooting/SYSTEM_RECOVERY_SUCCESS_REPORT.md
  docs/examples/Data_Quality_Anomaly_Detection_Guide.md
  docs/examples/banking/Banking_Anomaly_Detection_Guide.md
  docs/examples/banking/Banking_Anomaly_Detection_Guide_Print.html
  docs/examples/banking/Banking_Anomaly_Detection_Slides.html
  docs/getting-started/platform-specific/MULTI_PYTHON_VERSIONS.md
  docs/getting-started/platform-specific/WINDOWS_SETUP_GUIDE.md
  docs/guides/CLASSIFIER_SELECTION_GUIDE.md
  docs/project/COMPREHENSIVE_PROJECT_ASSESSMENT_REPORT.md
  docs/project/MIGRATION_AUTO_SKLEARN2.md
  docs/project/PDF_Generation_Instructions.md
  src/pynomaly/presentation/api/endpoints/drift_monitoring.py
  src/pynomaly/presentation/web/static/js/src/components/offline-detector.js
  stories/Button.stories.js
  stories/Form.stories.js
  tdd_storage/tdd_violations.json
  tests/application/services/test_drift_detection_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete final infrastructure integration scripts and components
  scripts/test_drift_detection_integration.py
  src/pynomaly/presentation/web/static/js/src/components/offline-dashboard.js
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Finalize comprehensive infrastructure documentation and UI stories
  TODO.md
  docs/performance/performance-best-practices.md
  stories/Charts.stories.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Move ROOT_DIRECTORY_AUDIT.md to proper project documentation location
  docs/project/ROOT_DIRECTORY_AUDIT.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Complete documentation index updates and API reference finalization
  docs/index.md
  docs/reference/api/pwa-api-reference.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete web UI infrastructure with real-time components and gitignore updates
  .gitignore
  deploy/kubernetes/monitoring-deployment.yaml
  docs/index.md
  src/pynomaly/presentation/web/static/js/charts/real-time-dashboard.js
  src/pynomaly/presentation/web/static/js/components/AnomalyHeatmap.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

refactor: Clean up analytics artifacts and add final web services layer
  analytics/ai_analytics_dashboard.json
  analytics/optimization_recommendations.json
  analytics/performance_models.json
  analytics/quantum_ecosystem_report.json
  analytics/trend_analysis.json
  config/backup_poetry_config/pyproject.toml
  config/backup_poetry_config/requirements-minimal.txt
  config/backup_poetry_config/requirements-production.txt
  config/backup_poetry_config/requirements-server.txt
  config/backup_poetry_config/requirements-test.txt
  config/backup_poetry_config/requirements.txt
  src/pynomaly/presentation/web/static/js/src/services/websocket-service.js
  src/pynomaly/presentation/web/static/js/src/utils/state-management.js
  tdd_storage/coverage_data.json
  tdd_storage/tdd_violations.json
  tdd_storage/test_requirements.json
  tools/hatch_buck2_plugin/__init__.py
  tools/hatch_buck2_plugin/build_hook.py
  tools/hatch_buck2_plugin/pyproject.toml
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

refactor: Finalize Storybook design system organization
  docs/design-system/stories/01-Introduction.stories.mdx
  docs/design-system/stories/02-Foundation/Colors.stories.js
  docs/design-system/stories/02-Foundation/Typography.stories.js
  docs/design-system/stories/03-Components/Button.stories.js
  docs/design-system/stories/Accessibility.stories.mdx
  docs/design-system/stories/AdvancedComponents.stories.js
  docs/design-system/stories/Button.stories.js
  docs/design-system/stories/Charts.stories.js
  docs/design-system/stories/Components.stories.js
  docs/design-system/stories/DesignSystem.stories.js
  docs/design-system/stories/DesignTokens.stories.mdx
  docs/design-system/stories/Form.stories.js
  docs/design-system/stories/Introduction.stories.mdx
  docs/design-system/stories/Patterns.stories.mdx
  docs/design-system/stories/Performance.stories.mdx
  docs/design-system/stories/Responsive.stories.mdx
  docs/user-guides/README.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add final Kubernetes configuration maps
  deploy/kubernetes/config-maps.yaml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete infrastructure with final Kubernetes RBAC and web components
  deploy/kubernetes/rbac.yaml
  deploy/kubernetes/secrets.yaml
  src/pynomaly/presentation/web/static/js/components/AnomalyScatterPlot.js
  src/pynomaly/presentation/web/static/js/components/interactive-forms.js
  src/pynomaly/presentation/web/static/js/src/components/real-time-dashboard.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add final infrastructure documentation and persistent storage
  deploy/kubernetes/persistent-volumes.yaml
  docs/developer-guides/architecture/pwa-architecture.md
  src/pynomaly/presentation/web/static/js/src/components/advanced-forms.js
  src/pynomaly/presentation/web/static/js/state/dashboard-state.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Add root directory cleanup summary documentation
  docs/project/ROOT_DIRECTORY_CLEANUP_SUMMARY.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete final infrastructure with ingress and dashboard components
  deploy/kubernetes/ingress.yaml
  src/pynomaly/presentation/web/static/js/components/AnomalyDashboard.js
  src/pynomaly/presentation/web/static/js/src/components/analytics-charts.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete final infrastructure with validation scripts and advanced CSS
  .pre-commit-config.yaml
  CHANGELOG.md
  deploy/kubernetes/Makefile
  deploy/kubernetes/kustomization.yaml
  scripts/validation/validate_root_directory.py
  src/pynomaly/presentation/web/static/css/advanced-components.css
  src/pynomaly/presentation/web/static/js/main.js
  src/pynomaly/presentation/web/static/js/src/services/auth-service.js
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update TODO.md and add auto-fix validation script
  TODO.md
  scripts/validation/auto_fix_root_directory.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Implement advanced ML lifecycle management service with enterprise features
  src/pynomaly/application/services/advanced_ml_lifecycle_service.py
  tests/application/services/test_advanced_ml_lifecycle_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*
