Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*

feat: Enhance presentation layer with enterprise-grade interfaces
  src/pynomaly/presentation/api/endpoints/autonomous.py
  src/pynomaly/presentation/api/endpoints/enterprise_dashboard.py
  src/pynomaly/presentation/api/tenant_endpoints.py
  src/pynomaly/presentation/cli/alert.py
  src/pynomaly/presentation/cli/app.py
  src/pynomaly/presentation/cli/autonomous.py
  src/pynomaly/presentation/cli/autonomous_enhancements.py
  src/pynomaly/presentation/cli/benchmarking.py
  src/pynomaly/presentation/cli/config.py
  src/pynomaly/presentation/cli/dashboard.py
  src/pynomaly/presentation/cli/deep_learning.py
  src/pynomaly/presentation/cli/deployment.py
  src/pynomaly/presentation/cli/detection.py
  src/pynomaly/presentation/cli/enhanced_automl.py
  src/pynomaly/presentation/cli/ensemble.py
  src/pynomaly/presentation/cli/explain.py
  src/pynomaly/presentation/cli/explainability.py
  src/pynomaly/presentation/cli/export.py
  src/pynomaly/presentation/cli/governance.py
  src/pynomaly/presentation/cli/preprocessing.py
  src/pynomaly/presentation/cli/recommendation.py
  src/pynomaly/presentation/cli/security.py
  src/pynomaly/presentation/cli/selection.py
  src/pynomaly/presentation/cli/tdd.py
  src/pynomaly/presentation/cli/tenant.py
  src/pynomaly/presentation/sdk/models.py
  src/pynomaly/presentation/web/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance shared utilities and development templates
  src/pynomaly/shared/protocols/repository_protocol.py
  templates/reporting/executive/executive_summary_template.py
  templates/reporting/technical/technical_report_template.py
  templates/scripts/classifiers/algorithm_comparison_template.py
  templates/scripts/classifiers/ensemble_selection_template.py
  templates/scripts/datasets/tabular_anomaly_detection.py
  templates/scripts/datasets/time_series_anomaly_detection.py
  templates/scripts/preprocessing/healthcare_data_preprocessing.py
  templates/scripts/preprocessing/iot_sensor_preprocessing.py
  templates/scripts/preprocessing/text_data_preprocessing.py
  templates/testing/validation/template_validation_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Finalize build system and package configuration
  Makefile
  package.json
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add Buck2 build system integration and automation tools
  scripts/buck2_change_detector.py
  scripts/buck2_git_integration.py
  scripts/buck2_incremental_test.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance deep learning adapters with improved error handling
  src/pynomaly/infrastructure/adapters/deep_learning/__init__.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Progressive Web App assets and Tailwind CSS configuration
  src/pynomaly/presentation/web/assets/css/input.css
  src/pynomaly/presentation/web/assets/js/main.js
  tailwind.config.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add Test-Driven Development configuration system
  tdd_config.json
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add advanced integration and performance testing suites
  tests/integration/test_stable_external_dependencies.py
  tests/performance/test_optimized_performance.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Update development configuration and documentation
  .claude/settings.local.json
  .pre-commit-config.yaml
  CLAUDE.md
  package-lock.json
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add CI/CD automation and Buck2 impact analysis tooling
  .github/workflows/buck2-incremental-testing.yml
  scripts/buck2_impact_analyzer.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update documentation and project metadata
  README.md
  docs/development/README.md
  docs/getting-started/installation.md
  docs/index.md
  pyproject.toml
  src/pynomaly/_version.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Complete PyTorch adapter indentation and fallback class definitions
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Finalize project configuration and build system integration
  CHANGELOG.md
  Makefile
  TODO.md
  src/pynomaly/presentation/web/static/css/styles.css
  src/pynomaly/presentation/web/static/js/app.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add Buck2 workflow automation and PyTorch fallback stub
  docs/deployment/BUCK2_INCREMENTAL_TESTING.md
  scripts/buck2_workflow.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_stub.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Update CHANGELOG and improve deep learning adapter imports
  CHANGELOG.md
  src/pynomaly/infrastructure/adapters/deep_learning/__init__.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete deep learning adapter fallback system
  src/pynomaly/infrastructure/adapters/deep_learning/__init__.py
  src/pynomaly/infrastructure/adapters/deep_learning/jax_stub.py
  src/pynomaly/infrastructure/adapters/deep_learning/tensorflow_stub.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Improve deep learning integration service with centralized imports
  src/pynomaly/application/services/deep_learning_integration_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance application DTOs with improved imports and selection capabilities
  src/pynomaly/application/dto/__init__.py
  src/pynomaly/application/dto/selection_dto.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive API documentation and specifications
  src/pynomaly/presentation/api/docs/__init__.py
  src/pynomaly/presentation/api/docs/openapi_config.py
  src/pynomaly/presentation/api/docs/response_models.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add critical path mutation testing for enhanced code quality
  tests/mutation/test_critical_path_mutations.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete DTO enhancements and API schema documentation
  src/pynomaly/application/dto/__init__.py
  src/pynomaly/application/dto/explainability_dto.py
  src/pynomaly/presentation/api/docs/schema_examples.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance health monitoring and quality gate infrastructure
  src/pynomaly/presentation/api/endpoints/health.py
  tests/quality_gates/test_comprehensive_quality_monitoring.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Complete health endpoint monitoring enhancements
  src/pynomaly/presentation/api/endpoints/health.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete explainability DTOs and API documentation system
  src/pynomaly/application/dto/explainability_dto.py
  src/pynomaly/presentation/api/docs/api_docs.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete application services enhancements and stability testing
  src/pynomaly/application/services/deep_learning_integration_service.py
  src/pynomaly/application/services/enhanced_automl_service.py
  src/pynomaly/application/services/explainability_service.py
  src/pynomaly/presentation/api/app.py
  tests/stability/test_flaky_test_elimination.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete comprehensive API documentation and infrastructure finalization
  src/pynomaly/_version.py
  src/pynomaly/infrastructure/adapters/deep_learning/jax_stub.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_stub.py
  src/pynomaly/infrastructure/adapters/deep_learning/tensorflow_stub.py
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/docs/__init__.py
  src/pynomaly/presentation/api/docs/api_docs.py
  src/pynomaly/presentation/api/docs/openapi_config.py
  src/pynomaly/presentation/api/docs/response_models.py
  src/pynomaly/presentation/api/docs/schema_examples.py
  src/pynomaly/presentation/api/endpoints/health.py
  src/pynomaly/presentation/cli/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add domain entity enhancements and Buck2 testing infrastructure
  scripts/test_buck2_system.py
  src/pynomaly/domain/entities/training_result.py
  tests/domain/entities/test_detector.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete service integrations and domain entity enhancements
  .claude/settings.local.json
  src/pynomaly/application/services/auto_retraining_service.py
  src/pynomaly/domain/entities/detector.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete Buck2 testing infrastructure and quality gate automation
  scripts/test_buck2_system.py
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/endpoints/health.py
  tests/domain/entities/test_detector.py
  tests/quality_gates/test_automated_quality_gates.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Complete domain entity test enhancements and Buck2 script improvements
  tests/domain/entities/test_detector.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Finalize Buck2 analysis tools and domain entity improvements
  scripts/buck2_impact_analyzer.py
  scripts/quick_buck2_test.py
  src/pynomaly/domain/entities/detector.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Complete configuration settings and test validation enhancements
  src/pynomaly/infrastructure/config/settings.py
  tests/domain/entities/test_detector.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete advanced learning services and comprehensive test finalization
  src/pynomaly/application/services/continuous_learning_service.py
  src/pynomaly/application/services/drift_detection_service.py
  tests/domain/entities/test_detector.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete PyTorch adapter finalization and optimization testing framework
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
  tests/optimization/test_execution_optimization.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive Kubernetes production deployment infrastructure
  deploy/kubernetes/database-deployment.yaml
  deploy/kubernetes/ingress-deployment.yaml
  deploy/kubernetes/monitoring-deployment.yaml
  deploy/kubernetes/production-deployment.yaml
  deploy/kubernetes/security-policies.yaml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add advanced domain entities for A/B testing and data lineage
  src/pynomaly/domain/entities/ab_test.py
  src/pynomaly/domain/entities/lineage_record.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Expand testing infrastructure with comprehensive validation framework
  tests/application/use_cases/test_detect_anomalies.py
  tests/application/use_cases/test_train_detector.py
  tests/validation/test_100_percent_validation.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced build system optimization and code quality tools
  find_unused_imports.py
  scripts/buck2_integration_validator.py
  scripts/pytest_incremental_runner.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report
