Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*

feat: Add performance monitoring services registration to dependency container
  src/pynomaly/infrastructure/config/container.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced web UI routes for workflows, collaboration, and visualizations
  src/pynomaly/presentation/web/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Migrate pre-commit configuration to Hatch with enhanced validation
  .pre-commit-config.yaml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Comprehensive Makefile migration to Hatch with enhanced development workflow
  Makefile
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Implement performance monitoring service stubs in dependency container
  src/pynomaly/infrastructure/config/container.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Re-enable performance endpoints with infrastructure stub support
  src/pynomaly/presentation/api/endpoints/__init__.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive JavaScript for advanced visualizations with D3.js and ECharts
  src/pynomaly/presentation/web/static/js/advanced_visualizations.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update script testing summary with 100% success rate after fixes
  docs/SCRIPT_TESTING_SUMMARY.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive workflow management JavaScript with drag-and-drop interface
  src/pynomaly/presentation/web/static/js/workflows.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive real-time collaboration JavaScript with WebSocket integration
  src/pynomaly/presentation/web/static/js/collaboration.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update primary project documentation for modern Python development
  CHANGELOG.md
  README.md
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

refactor: Remove obsolete project documentation and status reports
  docs/AUTONOMOUS_MODE_ANALYSIS_REPORT.md
  docs/DEPLOYMENT_READINESS_CHECKLIST.md
  docs/FINAL_AUTONOMOUS_SUMMARY.md
  docs/FINAL_TESTING_EXCELLENCE_ACHIEVEMENT.md
  docs/PRESENTATION_COMPONENTS_TESTING_REPORT.md
  docs/PRODUCTION_READINESS_SUMMARY.md
  docs/SCRIPT_TESTING_SUMMARY.md
  docs/SETUP_SIMPLE_TESTING_REPORT.md
  docs/SYSTEM_RECOVERY_SUCCESS_REPORT.md
  docs/TESTING_INFRASTRUCTURE_COMPLETION_SUMMARY.md
  docs/TESTING_INFRASTRUCTURE_OPTIMIZATION_COMPLETE.md
  docs/UI_TESTING_EXECUTION_SUMMARY.md
  docs/ULTIMATE_TESTING_TRANSCENDENCE_COMPLETE.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Modernize documentation with Hatch-based development workflow
  docs/api/rest-api.md
  docs/archive/AUTONOMOUS_MODE_ANALYSIS_REPORT.md
  docs/archive/DEPLOYMENT_READINESS_CHECKLIST.md
  docs/archive/FINAL_AUTONOMOUS_SUMMARY.md
  docs/archive/FINAL_TESTING_EXCELLENCE_ACHIEVEMENT.md
  docs/archive/PRESENTATION_COMPONENTS_TESTING_REPORT.md
  docs/archive/PRODUCTION_READINESS_SUMMARY.md
  docs/archive/SCRIPT_TESTING_SUMMARY.md
  docs/archive/SETUP_SIMPLE_TESTING_REPORT.md
  docs/archive/SYSTEM_RECOVERY_SUCCESS_REPORT.md
  docs/archive/TESTING_INFRASTRUCTURE_COMPLETION_SUMMARY.md
  docs/archive/TESTING_INFRASTRUCTURE_OPTIMIZATION_COMPLETE.md
  docs/archive/UI_TESTING_EXECUTION_SUMMARY.md
  docs/archive/ULTIMATE_TESTING_TRANSCENDENCE_COMPLETE.md
  docs/development/README.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/project/BUCK2_HATCH_INTEGRATION_PLAN.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

examples: Modernize all examples with Hatch-based project structure
  examples/advanced_ensemble_detection.py
  examples/algorithm_comparison.py
  examples/analyze_financial_fraud.py
  examples/analyze_network_intrusion.py
  examples/anomaly_ranking_filtering.py
  examples/autonomous_detection_example.py
  examples/banking/notebooks/banking_anomaly_detection_comprehensive.ipynb
  examples/banking/scripts/analyze_credit_cards.py
  examples/banking/scripts/analyze_deposits.py
  examples/banking/scripts/analyze_fx_transactions.py
  examples/banking/scripts/generate_sample_data.py
  examples/banking/scripts/test_basic_detection.py
  examples/basic_usage.py
  examples/custom_algorithm_integration.py
  examples/ensemble_detection.py
  examples/multi_classifier_ensemble.py
  examples/performance_benchmarking.py
  examples/preprocessing_cli_examples.py
  examples/quickstart_example.py
  examples/scripts/analyze_dataset_comprehensive.py
  examples/scripts/demo_pynomaly.py
  examples/scripts/generate_sample_data.py
  examples/time_series_detection.py
  examples/web_ui_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete template and infrastructure modernization
  src/pynomaly/infrastructure/logging/log_aggregator.py
  templates/experiments/notebooks/anomaly_detection_experiment_template.ipynb
  templates/reporting/executive/executive_summary_template.py
  templates/reporting/technical/technical_report_template.py
  templates/scripts/classifiers/algorithm_comparison_template.py
  templates/scripts/classifiers/ensemble_selection_template.py
  templates/scripts/datasets/time_series_anomaly_detection.py
  templates/scripts/preprocessing/financial_data_preprocessing.py
  templates/scripts/preprocessing/healthcare_data_preprocessing.py
  templates/scripts/preprocessing/iot_sensor_preprocessing.py
  templates/scripts/preprocessing/text_data_preprocessing.py
  templates/testing/results/test_results_template.py
  templates/testing/validation/template_validation_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enhanced observability and detection infrastructure
  src/pynomaly/application/dto/detection_dto.py
  src/pynomaly/infrastructure/logging/log_analysis.py
  src/pynomaly/infrastructure/logging/observability_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

refactor: Enhance core infrastructure with advanced monitoring and security
  src/pynomaly/infrastructure/auth/middleware.py
  src/pynomaly/infrastructure/config/container.py
  src/pynomaly/infrastructure/config/simplified_container.py
  src/pynomaly/infrastructure/distributed/data_partitioner.py
  src/pynomaly/infrastructure/distributed/distributed_detector.py
  src/pynomaly/infrastructure/distributed/task_distributor.py
  src/pynomaly/infrastructure/logging/log_aggregator.py
  src/pynomaly/infrastructure/logging/log_formatter.py
  src/pynomaly/infrastructure/logging/metrics_collector.py
  src/pynomaly/infrastructure/logging/tracing_manager.py
  src/pynomaly/infrastructure/monitoring/cli_parameter_interceptor.py
  src/pynomaly/infrastructure/monitoring/complexity_monitor.py
  src/pynomaly/infrastructure/security/advanced_threat_detection.py
  src/pynomaly/infrastructure/security/encryption.py
  src/pynomaly/infrastructure/security/sql_protection.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance domain and application layers with advanced capabilities
  src/pynomaly/application/dto/__init__.py
  src/pynomaly/application/services/ab_testing_service.py
  src/pynomaly/application/services/advanced_automl_service.py
  src/pynomaly/application/services/advanced_ensemble_service.py
  src/pynomaly/application/services/advanced_explainability_service.py
  src/pynomaly/application/services/alert_management_service.py
  src/pynomaly/application/services/algorithm_benchmark.py
  src/pynomaly/application/services/algorithm_optimization_service.py
  src/pynomaly/application/services/automl_configuration_integration.py
  src/pynomaly/application/services/autonomous_configuration_integration.py
  src/pynomaly/application/services/autonomous_preprocessing.py
  src/pynomaly/application/services/autonomous_service.py
  src/pynomaly/application/services/configuration_discovery_service.py
  src/pynomaly/application/services/configuration_recommendation_service.py
  src/pynomaly/application/services/configuration_template_service.py
  src/pynomaly/application/services/continuous_learning_service.py
  src/pynomaly/application/services/cost_optimization_service.py
  src/pynomaly/application/services/deep_learning_integration_service.py
  src/pynomaly/application/services/drift_detection_service.py
  src/pynomaly/application/services/enhanced_automl_service.py
  src/pynomaly/application/services/enhanced_model_persistence_service.py
  src/pynomaly/application/services/ensemble_service.py
  src/pynomaly/application/services/experiment_tracking_service.py
  src/pynomaly/application/services/explainable_ai_service.py
  src/pynomaly/application/services/governance_framework_service.py
  src/pynomaly/application/services/memory_optimization_service.py
  src/pynomaly/application/services/model_persistence_service.py
  src/pynomaly/application/services/performance_benchmarking_service.py
  src/pynomaly/application/services/performance_testing_service.py
  src/pynomaly/application/services/security_compliance_service.py
  src/pynomaly/domain/entities/dashboard.py
  src/pynomaly/domain/entities/explainable_ai.py
  src/pynomaly/domain/entities/tenant.py
  src/pynomaly/domain/services/anomaly_scorer.py
  src/pynomaly/domain/services/ensemble_aggregator.py
  src/pynomaly/domain/services/explainability_service.py
  src/pynomaly/domain/value_objects/anomaly_score.py
  src/pynomaly/domain/value_objects/confidence_interval.py
  src/pynomaly/domain/value_objects/contamination_rate.py
  src/pynomaly/domain/value_objects/performance_metrics.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Comprehensive infrastructure enhancements and optimizations
  src/pynomaly/infrastructure/adapters/autosklearn2_adapter.py
  src/pynomaly/infrastructure/adapters/deep_learning/jax_adapter.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
  src/pynomaly/infrastructure/adapters/deep_learning/tensorflow_adapter.py
  src/pynomaly/infrastructure/adapters/ensemble_adapter.py
  src/pynomaly/infrastructure/adapters/jax_adapter.py
  src/pynomaly/infrastructure/adapters/optimized_adapter.py
  src/pynomaly/infrastructure/adapters/pytorch_adapter.py
  src/pynomaly/infrastructure/adapters/tenant_repository.py
  src/pynomaly/infrastructure/adapters/tensorflow_adapter.py
  src/pynomaly/infrastructure/adapters/time_series_adapter.py
  src/pynomaly/infrastructure/automl/advanced_optimizer.py
  src/pynomaly/infrastructure/business_intelligence/reporting_service.py
  src/pynomaly/infrastructure/data_loaders/arrow_loader.py
  src/pynomaly/infrastructure/data_loaders/json_loader.py
  src/pynomaly/infrastructure/data_loaders/spark_loader.py
  src/pynomaly/infrastructure/data_processing/data_validator.py
  src/pynomaly/infrastructure/data_processing/memory_efficient_processor.py
  src/pynomaly/infrastructure/data_processing/streaming_processor.py
  src/pynomaly/infrastructure/explainers/shap_explainer.py
  src/pynomaly/infrastructure/performance/query_optimization.py
  src/pynomaly/infrastructure/persistence/tdd_repository.py
  src/pynomaly/infrastructure/preprocessing/data_cleaner.py
  src/pynomaly/infrastructure/preprocessing/data_transformer.py
  src/pynomaly/infrastructure/preprocessing/preprocessing_pipeline.py
  src/pynomaly/infrastructure/quality/quality_gates.py
  src/pynomaly/infrastructure/serving/model_server.py
  src/pynomaly/infrastructure/tdd/enforcement.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Modernize presentation layer with enhanced UI and CLI features
  src/pynomaly/__init__.py
  src/pynomaly/presentation/api/endpoints/autonomous.py
  src/pynomaly/presentation/api/endpoints/health.py
  src/pynomaly/presentation/cli/autonomous_enhancements.py
  src/pynomaly/presentation/cli/benchmarking.py
  src/pynomaly/presentation/cli/cost_optimization.py
  src/pynomaly/presentation/cli/dashboard.py
  src/pynomaly/presentation/cli/deep_learning.py
  src/pynomaly/presentation/cli/detectors.py
  src/pynomaly/presentation/cli/enhanced_automl.py
  src/pynomaly/presentation/cli/explain.py
  src/pynomaly/presentation/cli/explainability.py
  src/pynomaly/presentation/cli/export.py
  src/pynomaly/presentation/cli/governance.py
  src/pynomaly/presentation/cli/preprocessing.py
  src/pynomaly/presentation/cli/recommendation.py
  src/pynomaly/presentation/cli/security.py
  src/pynomaly/presentation/cli/selection.py
  src/pynomaly/presentation/cli/tdd.py
  src/pynomaly/presentation/cli/tenant.py
  src/pynomaly/presentation/sdk/async_client.py
  src/pynomaly/presentation/sdk/client.py
  src/pynomaly/presentation/sdk/examples.py
  src/pynomaly/presentation/web/app.py
  src/pynomaly/shared/error_handling.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

refactor: Improve examples with modern Python patterns and enhanced functionality
  examples/advanced_ensemble_detection.py
  examples/analyze_financial_fraud.py
  examples/analyze_network_intrusion.py
  examples/banking/notebooks/banking_anomaly_detection_comprehensive.ipynb
  examples/banking/scripts/analyze_credit_cards.py
  examples/banking/scripts/analyze_fx_transactions.py
  examples/basic_usage.py
  examples/ensemble_detection.py
  examples/multi_classifier_ensemble.py
  examples/scripts/analyze_dataset_comprehensive.py
  examples/web_ui_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance utility scripts with advanced automation and monitoring
  scripts/benchmark.py
  scripts/check_changelog_update.py
  scripts/check_complexity_thresholds.py
  scripts/detect_stray_files.py
  scripts/generate_complexity_report.py
  scripts/generate_comprehensive_datasets.py
  scripts/generate_documentation_pdfs.py
  scripts/install_ml_deps.py
  scripts/migrate_to_hatch.py
  scripts/multi_environment_tester.py
  scripts/organize_files.py
  scripts/performance_optimization_suite.py
  scripts/performance_regression_check.py
  scripts/pynomaly_cli.py
  scripts/run_cli.py
  scripts/run_complexity_monitoring.py
  scripts/setup_simple.py
  scripts/test_setup_validation.py
  scripts/testing/test_sdk_direct.py
  scripts/ui_quality_monitor.py
  scripts/validate_quality_gates.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance templates with advanced analytics and validation frameworks
  templates/reporting/executive/executive_summary_template.py
  templates/reporting/technical/technical_report_template.py
  templates/scripts/classifiers/algorithm_comparison_template.py
  templates/scripts/classifiers/ensemble_selection_template.py
  templates/scripts/preprocessing/financial_data_preprocessing.py
  templates/scripts/preprocessing/healthcare_data_preprocessing.py
  templates/scripts/preprocessing/iot_sensor_preprocessing.py
  templates/testing/validation/template_validation_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update CHANGELOG with Phase 3.5 observability infrastructure completion
  CHANGELOG.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add advanced cache management infrastructure
  src/pynomaly/infrastructure/cache/cache_manager.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive performance optimization infrastructure
  src/pynomaly/infrastructure/performance/profiler.py
  src/pynomaly/infrastructure/performance/query_optimizer.py
  tests/test_performance_infrastructure.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Integrate performance optimization services into dependency injection
  src/pynomaly/infrastructure/config/container.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive environment management and testing documentation
  docs/development/ENVIRONMENT_MANAGEMENT_MIGRATION.md
  docs/testing/TEST_COVERAGE_ANALYSIS_REPORT.md
  docs/testing/TEST_IMPROVEMENT_PLAN_100_PERCENT.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance testing scripts with improved validation and environment management
  scripts/test_all_scripts.py
  scripts/validate_environment_organization.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Update project configuration and documentation
  .gitignore
  CLAUDE.md
  TODO.md
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add build system utilities and test result documentation
  hatch_buck2_plugin.py
  test_results_final.md
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Update build system configuration and project metadata
  .buckconfig
  BUCK
  CHANGELOG.md
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance development and deployment scripts with advanced capabilities
  scripts/generate_complexity_report.py
  scripts/install_ml_deps.py
  scripts/multi_environment_tester.py
  scripts/performance_optimization_suite.py
  scripts/performance_regression_check.py
  scripts/production_deployment_validation.py
  scripts/pynomaly_cli.py
  scripts/run_api.py
  scripts/run_complexity_monitoring.py
  scripts/testing/test_fresh_powershell.py
  scripts/testing/test_powershell.py
  scripts/testing/test_powershell_simple.py
  scripts/testing/test_sdk_direct.py
  scripts/testing/test_sdk_working.py
  scripts/ui_quality_monitor.py
  scripts/validate_environment_organization.py
  scripts/validate_quality_gates.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Update examples and package management utilities
  examples/advanced_ensemble_detection.py
  examples/analyze_financial_fraud.py
  examples/analyze_network_intrusion.py
  examples/anomaly_ranking_filtering.py
  examples/autonomous_detection_example.py
  examples/banking/scripts/generate_sample_data.py
  examples/basic_usage.py
  fix_package_issues.py
  test_setup.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Strengthen domain layer with enterprise entities and exception handling
  src/pynomaly/domain/entities/alert.py
  src/pynomaly/domain/entities/dashboard.py
  src/pynomaly/domain/entities/deployment.py
  src/pynomaly/domain/entities/drift_detection.py
  src/pynomaly/domain/entities/experiment.py
  src/pynomaly/domain/entities/explainable_ai.py
  src/pynomaly/domain/entities/governance.py
  src/pynomaly/domain/entities/model.py
  src/pynomaly/domain/entities/model_registry.py
  src/pynomaly/domain/entities/model_version.py
  src/pynomaly/domain/entities/security_compliance.py
  src/pynomaly/domain/entities/tenant.py
  src/pynomaly/domain/exceptions/entity_exceptions.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report
