Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

file-organization-check:
  name: File Organization Validation
  entry: python scripts/validate_file_organization.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

root-directory-protection:
  name: Root Directory Protection
  entry: python scripts/protect_root_directory.py
  language: python
  stages:
  - commit
  verbose: true

stray-file-detection:
  name: Stray File Detection
  entry: python scripts/detect_stray_files.py
  language: python
  pass_filenames: true
  stages:
  - commit

organize-imports:
  name: Organize Python Imports
  entry: python scripts/organize_imports.py
  language: python
  stages:
  - commit

validate-directory-structure:
  name: Validate Directory Structure
  entry: python scripts/validate_directory_structure.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

check-file-permissions:
  name: Check File Permissions
  entry: python scripts/check_file_permissions.py
  language: python
  stages:
  - commit

generate-structure-report:
  name: Generate Structure Report
  entry: python scripts/generate_structure_report.py
  language: python
  pass_filenames: false
  stages:
  - push

docs: Enhance CLAUDE.md with comprehensive file organization enforcement rules
  CLAUDE.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance web UI with explainability and monitoring navigation
  src/pynomaly/presentation/web/app.py
  src/pynomaly/presentation/web/templates/base.html
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive explainability and monitoring web templates
  src/pynomaly/presentation/web/templates/explainability.html
  src/pynomaly/presentation/web/templates/monitoring.html
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

ci: Add automated file organization validation GitHub workflow
  .github/workflows/file-organization.yml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive file organization automation and assessment tools
  docs/COMPREHENSIVE_PROJECT_ASSESSMENT_REPORT.md
  docs/development/FILE_ORGANIZATION_STANDARDS.md
  reports/organization_plan.json
  scripts/analyze_project_structure.py
  scripts/detect_stray_files.py
  scripts/organize_files.py
  scripts/protect_root_directory.py
  scripts/validate_file_organization.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive domain, application, and end-to-end test coverage
  tests/application/test_configuration_dto_complete.py
  tests/domain/test_advanced_entities_comprehensive.py
  tests/domain/test_domain_services_comprehensive.py
  tests/domain/test_exceptions_comprehensive.py
  tests/domain/test_value_objects_comprehensive.py
  tests/e2e/test_api_versioning_compatibility_workflows.py
  tests/e2e/test_complete_user_journey.py
  tests/e2e/test_data_pipeline_workflows.py
  tests/e2e/test_disaster_recovery_resilience_workflows.py
  tests/e2e/test_monitoring_alerting_workflows.py
  tests/e2e/test_multi_algorithm_workflows.py
  tests/e2e/test_performance_scaling_workflows.py
  tests/e2e/test_security_authentication_workflows.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive security and permission controls to detector API endpoints
  src/pynomaly/presentation/api/endpoints/detectors.py
  tests/domain/test_business_entities_comprehensive.py
  tests/domain/test_domain_integration_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive admin API endpoints and enhance security permissions
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/endpoints/__init__.py
  src/pynomaly/presentation/api/endpoints/admin.py
  src/pynomaly/presentation/api/endpoints/detectors.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive user management interface and authentication integration
  src/pynomaly/presentation/web/app.py
  src/pynomaly/presentation/web/templates/base.html
  src/pynomaly/presentation/web/templates/users.html
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive advanced threat detection system to CHANGELOG
  CHANGELOG.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

refactor: Reorganize pyproject.toml structure for improved readability
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

refactor: Enhance dependency injection with service registry pattern and simplified architecture
  src/pynomaly/infrastructure/config/container.py
  src/pynomaly/infrastructure/config/container_backup.py
  src/pynomaly/infrastructure/config/service_registry.py
  src/pynomaly/infrastructure/config/simplified_container.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enterprise-grade security infrastructure with advanced threat detection
  src/pynomaly/infrastructure/security/__init__.py
  src/pynomaly/infrastructure/security/advanced_threat_detection.py
  src/pynomaly/infrastructure/security/audit_logger.py
  src/pynomaly/infrastructure/security/security_monitor.py
  src/pynomaly/infrastructure/security/threat_detection_config.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive cross-platform compatibility testing suites
  tests/cross_platform/test_dependency_compatibility_comprehensive.py
  tests/cross_platform/test_deployment_environments_comprehensive.py
  tests/cross_platform/test_os_compatibility_comprehensive.py
  tests/cross_platform/test_performance_portability_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive security testing infrastructure and regression test suites
  tests/infrastructure/security/test_advanced_threat_detection.py
  tests/regression/test_api_regression_comprehensive.py
  tests/regression/test_configuration_regression_comprehensive.py
  tests/regression/test_data_integrity_regression_comprehensive.py
  tests/regression/test_model_regression_comprehensive.py
  tests/regression/test_performance_regression_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add robust setup script improvements and distributed infrastructure
  scripts/setup_simple.py
  src/pynomaly/infrastructure/distributed/__init__.py
  src/pynomaly/infrastructure/distributed/distributed_config.py
  src/pynomaly/infrastructure/distributed/task_distributor.py
  src/pynomaly/infrastructure/distributed/worker_manager.py
  tests/integration/test_adapter_integration_comprehensive.py
  tests/integration/test_data_pipeline_integration_comprehensive.py
  tests/integration/test_service_layer_integration_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete setup script with enhanced verification and add data partitioning infrastructure
  scripts/setup_simple.py
  src/pynomaly/infrastructure/distributed/data_partitioner.py
  tests/integration/test_infrastructure_integration_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive distributed processing infrastructure to CHANGELOG
  CHANGELOG.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance setup script with clean install option and PEP 668 compliance
  scripts/setup_simple.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete distributed infrastructure integration in dependency injection container
  src/pynomaly/infrastructure/config/container.py
  src/pynomaly/infrastructure/distributed/__init__.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add complete distributed processing infrastructure components
  src/pynomaly/infrastructure/distributed/cluster_coordinator.py
  src/pynomaly/infrastructure/distributed/distributed_detector.py
  src/pynomaly/infrastructure/distributed/load_balancer.py
  src/pynomaly/infrastructure/distributed/result_aggregator.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive testing infrastructure and build system migration utilities
  .buckconfig
  .buckroot
  .claude/settings.local.json
  BUCK
  docs/SETUP_SIMPLE_TESTING_REPORT.md
  scripts/migrate_to_hatch.py
  scripts/test_setup_simple_linux.sh
  scripts/test_setup_simple_windows.ps1
  scripts/test_setup_validation.py
  scripts/test_setup_with_poetry.sh
  toolchains/BUCK
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive SDK and distributed infrastructure testing suites
  tests/infrastructure/distributed/test_distributed_config.py
  tests/infrastructure/distributed/test_task_distributor.py
  tests/sdk/test_sdk_advanced_features_comprehensive.py
  tests/sdk/test_sdk_configuration_comprehensive.py
  tests/sdk/test_sdk_core_comprehensive.py
  tests/sdk/test_sdk_error_handling_comprehensive.py
  tests/sdk/test_sdk_streaming_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete migration to Hatch build system and add advanced AutoML Phase 3.3
  CHANGELOG.md
  pyproject.toml
  src/pynomaly/_version.py
  src/pynomaly/infrastructure/config/container.py
  src/pynomaly/py.typed
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Implement advanced AutoML hyperparameter optimization Phase 3.3 infrastructure
  src/pynomaly/application/services/enhanced_automl_service.py
  src/pynomaly/infrastructure/automl/__init__.py
  src/pynomaly/infrastructure/automl/advanced_optimizer.py
  src/pynomaly/presentation/api/enhanced_automl.py
  src/pynomaly/presentation/cli/enhanced_automl.py
  tests/application/services/test_enhanced_automl_service.py
  tests/infrastructure/automl/test_advanced_optimizer.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive Hatch development utilities and CI/CD testing infrastructure
  docs/development/HATCH_GUIDE.md
  scripts/hatch_env.py
  scripts/hatch_version.py
  scripts/multi_environment_tester.py
  tests/pipeline/test_ci_cd_comprehensive.py
  tests/pipeline/test_deployment_comprehensive.py
  tests/pipeline/test_docker_comprehensive.py
  tests/pipeline/test_monitoring_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Update version file and enhance setup validation utilities
  scripts/run_pynomaly.py
  src/pynomaly/_version.py
  test_setup.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Enhance multi-environment tester with comprehensive validation and reporting
  scripts/multi_environment_tester.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Update CLI runner for enhanced compatibility and user experience
  scripts/run_cli.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Final application runner and performance endpoint enhancements
  scripts/run_app.py
  src/pynomaly/presentation/api/endpoints/performance.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add final web templates and performance monitoring improvements
  src/pynomaly/_version.py
  src/pynomaly/presentation/api/endpoints/performance.py
  src/pynomaly/presentation/web/templates/collaboration.html
  src/pynomaly/presentation/web/templates/workflows.html
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Final Claude settings optimization and performance endpoint cleanup
  .claude/settings.local.json
  src/pynomaly/presentation/api/endpoints/performance.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Expand Claude settings with additional export command permissions
  .claude/settings.local.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Comment out unimplemented performance metrics functionality
  src/pynomaly/presentation/api/endpoints/performance.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Temporarily disable performance endpoint import to prevent startup errors
  src/pynomaly/presentation/api/endpoints/__init__.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive script testing summary and validation report
  docs/SCRIPT_TESTING_SUMMARY.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add advanced visualizations web template for interactive data analysis
  src/pynomaly/presentation/web/templates/advanced_visualizations.html
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Comprehensive CI/CD pipeline migration to Hatch with enhanced testing
  .github/workflows/ci.yml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive navigation menu for advanced web features
  src/pynomaly/presentation/web/templates/base.html
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Correct API import path and enhance installation guidance
  scripts/run_api.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*
