Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

file-organization-check:
  name: File Organization Validation
  entry: python scripts/validate_file_organization.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

root-directory-protection:
  name: Root Directory Protection
  entry: python scripts/protect_root_directory.py
  language: python
  stages:
  - commit
  verbose: true

stray-file-detection:
  name: Stray File Detection
  entry: python scripts/detect_stray_files.py
  language: python
  pass_filenames: true
  stages:
  - commit

organize-imports:
  name: Organize Python Imports
  entry: python scripts/organize_imports.py
  language: python
  stages:
  - commit

validate-directory-structure:
  name: Validate Directory Structure
  entry: python scripts/validate_directory_structure.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

check-file-permissions:
  name: Check File Permissions
  entry: python scripts/check_file_permissions.py
  language: python
  stages:
  - commit

generate-structure-report:
  name: Generate Structure Report
  entry: python scripts/generate_structure_report.py
  language: python
  pass_filenames: false
  stages:
  - push

feat: Enhance core application components with production improvements
  src/pynomaly/application/use_cases/detect_anomalies.py
  src/pynomaly/domain/entities/detector.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
  src/pynomaly/presentation/cli/recommendation.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update project documentation with latest development progress
  CHANGELOG.md
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

config: Update Claude Code settings with enhanced development permissions
  .claude/settings.local.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add production deployment infrastructure and logging systems
  deploy/kubernetes/logging-deployment.yaml
  scripts/deploy_production.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced domain entities for model governance and drift detection
  src/pynomaly/domain/entities/drift_report.py
  src/pynomaly/domain/entities/governance_workflow.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance AutoML and ensemble services with advanced optimization
  src/pynomaly/application/services/advanced_automl_service.py
  src/pynomaly/application/services/advanced_ensemble_service.py
  src/pynomaly/application/services/automl_service.py
  src/pynomaly/infrastructure/automl/advanced_optimizer.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Improve Excel adapter functionality and update project tracking
  TODO.md
  src/pynomaly/infrastructure/adapters/excel_adapter.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enterprise services and adapter improvements
  src/pynomaly/application/services/enterprise_integration_service.py
  src/pynomaly/application/services/model_lineage_service.py
  src/pynomaly/infrastructure/adapters/jax_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Kubernetes AlertManager deployment for production monitoring
  deploy/kubernetes/alertmanager-deployment.yaml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add advanced application services for enterprise analytics
  src/pynomaly/application/services/advanced_explainability_service.py
  src/pynomaly/application/services/enterprise_dashboard_service.py
  src/pynomaly/application/services/model_ab_testing_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance detect anomalies use case with improved error handling
  src/pynomaly/application/use_cases/detect_anomalies.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance ML framework adapters with improved capabilities
  src/pynomaly/infrastructure/adapters/autosklearn2_adapter.py
  src/pynomaly/infrastructure/adapters/deep_learning/jax_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance infrastructure components with performance optimizations
  src/pynomaly/infrastructure/cache/cache_manager.py
  src/pynomaly/infrastructure/logging/tracing_manager.py
  src/pynomaly/infrastructure/performance/query_optimizer.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

refactor: Update data loaders initialization and gitignore patterns
  .gitignore
  src/pynomaly/infrastructure/data_loaders/__init__.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced model management services for ML operations
  src/pynomaly/application/services/model_drift_detection_service.py
  src/pynomaly/application/services/model_governance_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced testing framework with comprehensive test suites
  tests/advanced/mutation_testing_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

refactor: Restructure build system integration and project configuration
  find_unused_imports.py
  hatch_buck2_plugin/__init__.py
  hatch_buck2_plugin/build_hook.py
  hatch_buck2_plugin/pyproject.toml
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance JAX adapter with improved dependency handling
  src/pynomaly/infrastructure/adapters/deep_learning/jax_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add model lineage API endpoint for comprehensive tracking
  src/pynomaly/presentation/api/endpoints/model_lineage.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add property-based testing framework for comprehensive validation
  tests/advanced/property_testing_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance project configuration and AutoML service capabilities
  pyproject.toml
  src/pynomaly/application/services/advanced_automl_service.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update CHANGELOG with advanced ML model management features
  CHANGELOG.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add Buck2 deployment guide and algorithm registry tests
  docs/deployment/BUCK2_INTEGRATION_GUIDE.md
  tests/application/services/test_algorithm_adapter_registry.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced testing orchestrator for comprehensive test management
  tests/advanced/advanced_testing_orchestrator.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance enterprise services with advanced algorithms and health monitoring
  src/pynomaly/application/services/advanced_ensemble_service.py
  src/pynomaly/application/services/enhanced_automl_service.py
  src/pynomaly/presentation/api/endpoints/health.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update CHANGELOG with latest enterprise enhancements
  CHANGELOG.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add streaming session entity for real-time anomaly detection
  src/pynomaly/domain/entities/streaming_session.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced testing execution script for enterprise validation
  scripts/run_advanced_testing.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance infrastructure components and update project tracking
  TODO.md
  src/pynomaly/infrastructure/preprocessing/data_transformer.py
  src/pynomaly/presentation/api/endpoints/autonomous.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add anomaly event entity and demo functions for user experience
  src/pynomaly/demo_functions.py
  src/pynomaly/domain/entities/anomaly_event.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive API integration tests and demo function validation
  tests/presentation/api/test_endpoints_integration.py
  tests/test_demo_functions.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance infrastructure components with production improvements
  src/pynomaly/domain/entities/drift_detection.py
  src/pynomaly/infrastructure/data_processing/data_validator.py
  src/pynomaly/infrastructure/monitoring/health_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add tools directory with development utilities
  tools/buck2/buck2
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance application services and API endpoints with production improvements
  src/pynomaly/application/services/workflow_simplification_service.py
  src/pynomaly/infrastructure/adapters/pyod_adapter.py
  src/pynomaly/infrastructure/adapters/sklearn_adapter.py
  src/pynomaly/presentation/api/endpoints/detection.py
  src/pynomaly/presentation/api/endpoints/detectors.py
  tests/advanced/mutation_testing_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add streaming service for real-time anomaly detection
  src/pynomaly/application/services/streaming_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance distributed infrastructure and testing framework
  src/pynomaly/infrastructure/distributed/worker_manager.py
  src/pynomaly/infrastructure/explainers/lime_explainer.py
  tests/advanced/property_testing_framework.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Buck2 simulator and enhance SHAP explainer
  src/pynomaly/infrastructure/explainers/shap_explainer.py
  tools/buck2/buck2_simulator.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add event processing service and enhance performance tools
  scripts/performance_optimization_suite.py
  scripts/performance_regression_check.py
  src/pynomaly/application/services/event_processing_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance Pynomaly CLI with improved functionality
  scripts/pynomaly_cli.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add complete workflow integration test and enhance pytest runner
  scripts/pytest_incremental_runner.py
  tests/integration/test_complete_workflow.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*
