Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*

feat: Add issue resolution summary and dashboard JavaScript enhancements
  reports/ISSUE_RESOLUTION_SUMMARY.md
  src/pynomaly/presentation/web/static/js/dashboard.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update core documentation and configuration alignment
  .gitignore
  README.md
  TODO.md
  config/backup_poetry_config/pyproject.toml
  reports/file_organization_validation.json
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance application layer with comprehensive service improvements
  src/pynomaly/__init__.py
  src/pynomaly/_version.py
  src/pynomaly/application/dto/active_learning_dto.py
  src/pynomaly/application/dto/ensemble_dto.py
  src/pynomaly/application/dto/streaming_dto.py
  src/pynomaly/application/dto/training_dto.py
  src/pynomaly/application/dto/uncertainty_dto.py
  src/pynomaly/application/services/ab_testing_service.py
  src/pynomaly/application/services/advanced_ml_lifecycle_service.py
  src/pynomaly/application/services/automated_training_service.py
  src/pynomaly/application/services/deep_learning_integration_service.py
  src/pynomaly/application/services/enhanced_automl_service.py
  src/pynomaly/application/services/enhanced_detection_service.py
  src/pynomaly/application/services/event_processing_service.py
  src/pynomaly/application/services/explainability_service.py
  src/pynomaly/application/services/governance_framework_service.py
  src/pynomaly/application/services/model_ab_testing_service.py
  src/pynomaly/application/services/model_drift_detection_service.py
  src/pynomaly/application/services/model_governance_service.py
  src/pynomaly/application/services/model_lineage_service.py
  src/pynomaly/application/services/model_management_service.py
  src/pynomaly/application/services/streaming_pipeline_manager.py
  src/pynomaly/application/services/streaming_service.py
  src/pynomaly/application/services/training_automation_service.py
  src/pynomaly/application/services/training_service.py
  src/pynomaly/application/services/unified_data_service.py
  src/pynomaly/application/use_cases/automl_optimization.py
  src/pynomaly/application/use_cases/detect_anomalies.py
  src/pynomaly/application/use_cases/drift_monitoring_use_case.py
  src/pynomaly/application/use_cases/ensemble_detection_use_case.py
  src/pynomaly/application/use_cases/explainability_use_case.py
  src/pynomaly/application/use_cases/manage_active_learning.py
  src/pynomaly/application/use_cases/quantify_uncertainty.py
  src/pynomaly/application/use_cases/streaming_detection_use_case.py
  src/pynomaly/demo_functions.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance domain layer with advanced entity and service capabilities
  src/pynomaly/domain/entities/ab_test.py
  src/pynomaly/domain/entities/active_learning_session.py
  src/pynomaly/domain/entities/alert.py
  src/pynomaly/domain/entities/anomaly_event.py
  src/pynomaly/domain/entities/detector.py
  src/pynomaly/domain/entities/drift_detection.py
  src/pynomaly/domain/entities/drift_report.py
  src/pynomaly/domain/entities/governance_workflow.py
  src/pynomaly/domain/entities/human_feedback.py
  src/pynomaly/domain/entities/lineage_record.py
  src/pynomaly/domain/entities/optimization_trial.py
  src/pynomaly/domain/entities/streaming_session.py
  src/pynomaly/domain/entities/training_job.py
  src/pynomaly/domain/entities/training_result.py
  src/pynomaly/domain/services/active_learning_service.py
  src/pynomaly/domain/services/uncertainty_service.py
  src/pynomaly/domain/value_objects/confidence_interval.py
  src/pynomaly/domain/value_objects/hyperparameters.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance infrastructure layer with advanced adapters and services
  src/pynomaly/infrastructure/adapters/algorithm_factory.py
  src/pynomaly/infrastructure/adapters/deep_learning/jax_stub.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
  src/pynomaly/infrastructure/adapters/enhanced_pyod_adapter.py
  src/pynomaly/infrastructure/adapters/enhanced_sklearn_adapter.py
  src/pynomaly/infrastructure/adapters/ensemble_meta_adapter.py
  src/pynomaly/infrastructure/adapters/model_trainer_adapter.py
  src/pynomaly/infrastructure/adapters/uncertainty_adapter.py
  src/pynomaly/infrastructure/config/optimization_config.py
  src/pynomaly/infrastructure/config/settings.py
  src/pynomaly/infrastructure/config/simplified_container.py
  src/pynomaly/infrastructure/data_loaders/data_loader_factory.py
  src/pynomaly/infrastructure/data_loaders/database_loader.py
  src/pynomaly/infrastructure/data_loaders/enhanced_parquet_loader.py
  src/pynomaly/infrastructure/data_processing/advanced_data_pipeline.py
  src/pynomaly/infrastructure/monitoring/advanced_alerting_service.py
  src/pynomaly/infrastructure/monitoring/dashboards.py
  src/pynomaly/infrastructure/monitoring/external_monitoring_service.py
  src/pynomaly/infrastructure/monitoring/health_checks.py
  src/pynomaly/infrastructure/monitoring/middleware.py
  src/pynomaly/infrastructure/monitoring/prometheus_metrics.py
  src/pynomaly/infrastructure/persistence/training_job_repository.py
  src/pynomaly/infrastructure/persistence/training_repository.py
  src/pynomaly/infrastructure/services/hyperparameter_optimization_service.py
  src/pynomaly/infrastructure/streaming/real_time_anomaly_pipeline.py
  tools/buck2/buck2_simulator.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance presentation layer with comprehensive API and CLI improvements
  .claude/settings.local.json
  src/pynomaly/presentation/api/active_learning_endpoints.py
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/docs/api_docs.py
  src/pynomaly/presentation/api/docs/openapi_config.py
  src/pynomaly/presentation/api/docs/response_models.py
  src/pynomaly/presentation/api/docs/schema_examples.py
  src/pynomaly/presentation/api/endpoints/advanced_ml_lifecycle.py
  src/pynomaly/presentation/api/endpoints/automl.py
  src/pynomaly/presentation/api/endpoints/detectors.py
  src/pynomaly/presentation/api/endpoints/drift_monitoring.py
  src/pynomaly/presentation/api/endpoints/ensemble.py
  src/pynomaly/presentation/api/endpoints/events.py
  src/pynomaly/presentation/api/endpoints/explainability.py
  src/pynomaly/presentation/api/endpoints/explainable_ai.py
  src/pynomaly/presentation/api/endpoints/health.py
  src/pynomaly/presentation/api/endpoints/model_lineage.py
  src/pynomaly/presentation/api/endpoints/monitoring.py
  src/pynomaly/presentation/api/endpoints/streaming.py
  src/pynomaly/presentation/api/endpoints/streaming_pipelines.py
  src/pynomaly/presentation/api/endpoints/training.py
  src/pynomaly/presentation/api/performance_metrics.py
  src/pynomaly/presentation/api/training_automation_endpoints.py
  src/pynomaly/presentation/api/uncertainty_endpoints.py
  src/pynomaly/presentation/api/websocket/training_handler.py
  src/pynomaly/presentation/cli/app.py
  src/pynomaly/presentation/cli/training_automation_commands.py
  src/pynomaly/presentation/web/design_system.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance scripts and tooling with comprehensive improvements
  environments/src/pynomaly/presentation/web/static/css/advanced_ui.css
  environments/src/pynomaly/presentation/web/static/css/design-system.css
  environments/src/pynomaly/presentation/web/static/css/tailwind.css
  scripts/analysis/analyze_docs_links.py
  scripts/analysis/check_documentation_links.py
  scripts/analysis/quick_link_check.py
  scripts/demo/demo_bdd_framework.py
  scripts/demo/demo_ui_components.py
  scripts/demo/demo_ui_testing.py
  scripts/deploy/deploy_production.py
  scripts/documentation/enhance_cross_links.py
  scripts/documentation/implement_breadcrumbs.py
  scripts/maintenance/find_real_errors.py
  scripts/maintenance/find_undefined_names.py
  scripts/maintenance/fix_package_issues.py
  scripts/run/run_web_app.py
  scripts/setup/setup_buck2_remote_cache.py
  scripts/setup/setup_multi_python.py
  scripts/testing/pytest_incremental_runner.py
  scripts/testing/quick_buck2_test.py
  scripts/testing/run_advanced_testing.py
  scripts/testing/run_comprehensive_ui_tests.py
  scripts/testing/run_integration_tests.py
  scripts/testing/simple_explainability_test.py
  scripts/testing/test-current.sh
  scripts/testing/test_all_pythons.py
  scripts/testing/test_buck2_integration.py
  scripts/testing/test_buck2_system.py
  scripts/testing/test_docker_integration.py
  scripts/testing/test_drift_detection_integration.py
  scripts/testing/test_ensemble_integration.py
  scripts/testing/test_explainability_integration.py
  scripts/testing/test_health_check.py
  scripts/testing/test_streaming_integration.py
  scripts/validation/auto_fix_root_directory.py
  scripts/validation/fix_domain_purity.py
  scripts/validation/validate_multi_python.py
  scripts/validation/validate_root_directory.py
  scripts/validation/validate_source_structure.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive CI/CD workflows with quality gates and security
  .github/workflows/cd.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive deployment infrastructure and documentation
  README.md
  TODO.md
  deploy/docker/Dockerfile.api
  deploy/docker/Dockerfile.web
  deploy/docker/config/nginx.conf
  deploy/kubernetes/production/deployment.yaml
  deploy/kubernetes/production/namespace.yaml
  deploy/kubernetes/staging/deployment.yaml
  deploy/kubernetes/staging/ingress.yaml
  deploy/kubernetes/staging/namespace.yaml
  deploy/kubernetes/staging/service.yaml
  docs/deployment/README.md
  docs/deployment/SECURITY.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete domain entity enhancements with advanced drift monitoring
  src/pynomaly/domain/entities/ab_test.py
  src/pynomaly/domain/entities/alert.py
  src/pynomaly/domain/entities/anomaly_event.py
  src/pynomaly/domain/entities/drift_detection.py
  src/pynomaly/domain/entities/drift_report.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete application layer with enhanced DTOs and governance
  src/pynomaly/application/dto/automl_dto.py
  src/pynomaly/application/dto/configuration_dto.py
  src/pynomaly/application/dto/explainability_dto.py
  src/pynomaly/application/services/governance_framework_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete platform with final enhancements and examples
  DEVELOPMENT_SETUP.md
  deploy/kubernetes/production/ingress.yaml
  deploy/kubernetes/production/monitoring.yaml
  deploy/kubernetes/production/service.yaml
  examples/quick_start_example.py
  src/pynomaly/application/services/explainability_service.py
  src/pynomaly/application/use_cases/streaming_detection_use_case.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Enhance quick start example with improved anomaly detection logic
  examples/quick_start_example.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add anomaly event domain entity test coverage
  tests/domain/test_anomaly_event.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete CLI with enhanced deep learning command interface
  src/pynomaly/presentation/cli/deep_learning.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete CI/CD pipeline with comprehensive testing workflows
  .github/workflows/quality.yml
  .github/workflows/test.yml
  tests/domain/test_drift_report.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Finalize platform with complete CLI and coverage configuration
  .coveragerc
  src/pynomaly/presentation/cli/app.py
  src/pynomaly/presentation/cli/deep_learning.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Finalize CLI application with optimized command structure
  src/pynomaly/presentation/cli/app.py
  tests/domain/test_drift_report.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive coverage monitoring for quality assurance
  scripts/testing/coverage_monitor.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete enterprise CI/CD pipeline and infrastructure setup
  README.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Update CLI app with latest improvements
  src/pynomaly/presentation/cli/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Resolve circular imports in web presentation layer
  TODO.md
  src/pynomaly/presentation/web/app.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive feature planning and roadmap
  FEATURE_BACKLOG.md
  ROADMAP.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Add comprehensive feature installation guide
  docs/getting-started/FEATURE_INSTALLATION_GUIDE.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add automated feature installation and mutation testing
  scripts/setup/install_features.py
  scripts/testing/mutation_testing.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced domain entities for enterprise features
  src/pynomaly/domain/entities/automl.py
  src/pynomaly/domain/entities/explainability.py
  src/pynomaly/domain/entities/streaming_anomaly.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive benchmark testing infrastructure
  tests/benchmarks/conftest.py
  tests/benchmarks/test_algorithm_performance.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add property-based testing framework with Hypothesis
  tests/property_based/test_algorithm_properties.py
  tests/property_based/test_domain_entities_properties.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive Pynomaly SklearnAdapter example
  examples/pynomaly_sklearn_example.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enhanced PyOD service adapter with comprehensive algorithm support
  src/pynomaly/infrastructure/adapters/enhanced_pyod_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Add type annotation to shared utils __all__ declaration
  src/pynomaly/shared/utils/__init__.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update README with accurate SklearnAdapter example
  README.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete comprehensive testing and core functionality improvements
  src/pynomaly/application/dto/export_options.py
  src/pynomaly/infrastructure/data_loaders/file_loader.py
  src/pynomaly/presentation/sdk/exceptions.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Update infrastructure module exports and API configuration
  src/pynomaly/infrastructure/config/__init__.py
  src/pynomaly/infrastructure/monitoring/__init__.py
  src/pynomaly/infrastructure/repositories/__init__.py
  src/pynomaly/presentation/api/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive configuration management infrastructure
  src/pynomaly/infrastructure/config/config_manager.py
  src/pynomaly/infrastructure/config/config_templates.py
  src/pynomaly/infrastructure/config/config_validator.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive error handling infrastructure
  src/pynomaly/infrastructure/error_handling/__init__.py
  src/pynomaly/infrastructure/error_handling/error_handler.py
  src/pynomaly/infrastructure/error_handling/error_middleware.py
  src/pynomaly/infrastructure/error_handling/error_reporter.py
  src/pynomaly/infrastructure/error_handling/error_response_formatter.py
  src/pynomaly/infrastructure/error_handling/recovery_strategies.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced monitoring and alerting services
  src/pynomaly/infrastructure/monitoring/alerting_service.py
  src/pynomaly/infrastructure/monitoring/dashboard_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enhanced repository infrastructure with factory pattern
  src/pynomaly/infrastructure/repositories/memory_repository.py
  src/pynomaly/infrastructure/repositories/repository_factory.py
  src/pynomaly/infrastructure/repositories/repository_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive testing documentation and strategy
  docs/testing/README.md
  docs/testing/TESTING_STRATEGY.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report
