Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*

feat: Enhance security encryption and API schema documentation
  src/pynomaly/infrastructure/security/encryption.py
  src/pynomaly/presentation/api/docs/schema_examples.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance monitoring telemetry and API middleware integration
  src/pynomaly/infrastructure/monitoring/telemetry.py
  src/pynomaly/presentation/api/middleware_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enhanced algorithm adapters and factory infrastructure
  src/pynomaly/infrastructure/adapters/algorithm_factory.py
  src/pynomaly/infrastructure/adapters/enhanced_pyod_adapter.py
  src/pynomaly/infrastructure/adapters/enhanced_sklearn_adapter.py
  src/pynomaly/infrastructure/adapters/ensemble_meta_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive explainability infrastructure and enhanced detection
  src/pynomaly/application/services/enhanced_detection_service.py
  src/pynomaly/application/use_cases/explainability_use_case.py
  src/pynomaly/presentation/api/endpoints/explainability.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive explainability testing and validation framework
  scripts/simple_explainability_test.py
  scripts/test_explainability_integration.py
  tests/application/services/test_explainability_service.py
  tests/test_algorithm_adapters.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive UI testing infrastructure with BDD support
  playwright.config.ts
  tests/ui/bdd/features/user_workflows.feature
  tests/ui/bdd/test_user_workflows.py
  tests/ui/conftest.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance domain exceptions module with improved error handling
  src/pynomaly/domain/exceptions/__init__.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update project documentation with explainability and UI testing progress
  CHANGELOG.md
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add enhanced accessibility testing for enterprise UI validation
  tests/ui/test_accessibility_enhanced.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Complete PyTorch adapter VAE method indentation corrections
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Update infrastructure components with repository integration and timedelta import
  src/pynomaly/infrastructure/adapters/tenant_repository.py
  src/pynomaly/infrastructure/config/simplified_container.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive UI testing demonstration and execution scripts
  scripts/demo_ui_testing.py
  scripts/run_comprehensive_ui_tests.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive advanced data processing pipeline infrastructure
  src/pynomaly/infrastructure/data_processing/advanced_data_pipeline.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enhanced Buck2 CI/CD pipeline with remote caching and comprehensive workflow
  .buckconfig.remote
  .github/workflows/buck2-enhanced-ci.yml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update CHANGELOG with comprehensive UI testing infrastructure and fix PyGOD adapter
  CHANGELOG.md
  src/pynomaly/infrastructure/adapters/pygod_adapter.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive data loader infrastructure with factory pattern and enhanced Parquet support
  src/pynomaly/infrastructure/data_loaders/data_loader_factory.py
  src/pynomaly/infrastructure/data_loaders/enhanced_parquet_loader.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Buck2 remote cache setup script for CI/CD acceleration
  scripts/setup_buck2_remote_cache.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive Buck2 CI/CD performance monitoring and reporting system
  ci-performance-history.json
  ci-performance-report.json
  scripts/buck2_ci_performance_monitor.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add unified data service and advanced ensemble detection use case
  src/pynomaly/application/services/unified_data_service.py
  src/pynomaly/application/use_cases/ensemble_detection_use_case.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive database loader with multi-database support and advanced features
  src/pynomaly/infrastructure/data_loaders/database_loader.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive BDD feature specifications for accessibility and performance
  tests/ui/bdd/features/accessibility_compliance.feature
  tests/ui/bdd/features/performance_optimization.feature
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

refactor: Update Claude settings and optimize Buck2 performance monitor commands
  .claude/settings.local.json
  scripts/buck2_ci_performance_monitor.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add test infrastructure for data loaders and BDD accessibility step definitions
  tests/infrastructure/data_loaders/__init__.py
  tests/ui/bdd/step_definitions/accessibility_steps.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive BDD performance testing step definitions
  tests/ui/bdd/step_definitions/performance_steps.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive Playwright testing infrastructure and npm scripts
  package-lock.json
  package.json
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

config: Update Claude settings with git and npm command permissions
  .claude/settings.local.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

test: Add comprehensive test suite for data loader factory
  tests/infrastructure/data_loaders/test_data_loader_factory.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive cross-browser compatibility BDD testing framework
  tests/ui/bdd/features/cross_browser_compatibility.feature
  tests/ui/bdd/step_definitions/cross_browser_steps.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update CHANGELOG and TODO with comprehensive BDD framework completion
  CHANGELOG.md
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive UI testing dependencies and Hatch environment configuration
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

test: Add comprehensive test infrastructure for data loaders, processing, and UI testing
  tests/infrastructure/data_loaders/test_database_loader.py
  tests/infrastructure/data_loaders/test_enhanced_parquet_loader.py
  tests/infrastructure/data_processing/__init__.py
  tests/infrastructure/data_processing/test_advanced_data_pipeline.py
  tests/ui/global-setup.ts
  tests/ui/global-teardown.ts
  tests/ui/test_cross_browser_compatibility.spec.ts
  tests/ui/test_visual_regression_enhanced.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance comprehensive UI test runner with complete BDD framework integration
  scripts/run_comprehensive_ui_tests.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Streamline TODO.md with archived completed work and focused priorities
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive UI testing CI/CD pipeline and performance monitoring configuration
  .github/workflows/ui_testing.yml
  .percyrc.yml
  lighthouserc.js
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add BDD framework demonstration and enhanced accessibility testing
  scripts/demo_bdd_framework.py
  tests/ui/test_accessibility_comprehensive.py
  tests/ui/test_visual_regression_enhanced.spec.ts
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add enhanced accessibility testing npm scripts and comprehensive service tests
  package-lock.json
  package.json
  tests/application/services/test_unified_data_service.py
  tests/ui/test_performance_comprehensive.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Complete TODO.md cleanup with archived comprehensive work history
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add UI testing CI/CD pipeline and accessibility configuration
  .claude/settings.local.json
  .github/workflows/ui-testing-ci.yml
  tests/ui/axe.config.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive testing dependencies and update project documentation
  CLAUDE.md
  package-lock.json
  package.json
  tests/infrastructure/data_loaders/test_data_loader_factory.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive ensemble detection and accessibility TypeScript test suites
  tests/application/use_cases/test_ensemble_detection_use_case.py
  tests/ui/test_accessibility_enhanced.spec.ts
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report
