Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

file-organization-check:
  name: File Organization Validation
  entry: python scripts/validate_file_organization.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

root-directory-protection:
  name: Root Directory Protection
  entry: python scripts/protect_root_directory.py
  language: python
  stages:
  - commit
  verbose: true

stray-file-detection:
  name: Stray File Detection
  entry: python scripts/detect_stray_files.py
  language: python
  pass_filenames: true
  stages:
  - commit

organize-imports:
  name: Organize Python Imports
  entry: python scripts/organize_imports.py
  language: python
  stages:
  - commit

validate-directory-structure:
  name: Validate Directory Structure
  entry: python scripts/validate_directory_structure.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

check-file-permissions:
  name: Check File Permissions
  entry: python scripts/check_file_permissions.py
  language: python
  stages:
  - commit

generate-structure-report:
  name: Generate Structure Report
  entry: python scripts/generate_structure_report.py
  language: python
  pass_filenames: false
  stages:
  - push

feat: Add comprehensive multi-Python testing and CI/CD infrastructure
  .github/workflows/multi-python-testing.yml
  tox.ini
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add event and streaming API endpoints for real-time processing
  src/pynomaly/presentation/api/endpoints/events.py
  src/pynomaly/presentation/api/endpoints/streaming.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Buck2 integration testing script for build system validation
  scripts/test_buck2_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance main API application with improved routing and configuration
  src/pynomaly/presentation/api/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance development scripts with complexity monitoring and setup simplification
  scripts/run_complexity_monitoring.py
  scripts/setup_simple.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Update project configuration with Buck2 executable path and build optimization
  pyproject.toml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

config: Update Claude Code settings with Buck2 integration permissions
  .claude/settings.local.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add multi-Python testing infrastructure and version management
  .python-version-dev
  scripts/setup_multi_python.py
  scripts/test_all_pythons.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add integration test configuration and enhanced Buck build file
  BUCK.full
  tests/integration/conftest.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Update main Buck build file with enhanced configuration
  BUCK
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add multi-Python Docker configuration and API workflow integration tests
  deploy/docker/Dockerfile.multi-python
  tests/integration/test_api_workflows.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance autonomous configuration and recommendation services
  src/pynomaly/application/services/autonomous_configuration_integration.py
  src/pynomaly/application/services/configuration_recommendation_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive AutoML and streaming integration test suites
  tests/application/services/test_automl_service.py
  tests/integration/test_streaming_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add multi-Python validation infrastructure and comprehensive report
  reports/multi_python_validation_20250625_140546.json
  scripts/validate_multi_python.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add AutoML optimization use case for advanced algorithm selection
  src/pynomaly/application/use_cases/automl_optimization.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive database integration test suite
  tests/integration/test_database_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Update Buck build configuration with simplified minimal setup
  BUCK
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add undefined names detection utility for code quality assurance
  find_undefined_names.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance demo functions and update Claude Code settings
  .claude/settings.local.json
  src/pynomaly/demo_functions.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive end-to-end scenario integration tests
  tests/integration/test_end_to_end_scenarios.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance multi-Python infrastructure with latest version support
  .python-version-dev
  scripts/setup_multi_python.py
  scripts/test_all_pythons.py
  src/pynomaly/__init__.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add AutoML API endpoint and Buck2 performance benchmarking
  scripts/buck2_performance_benchmark.py
  src/pynomaly/presentation/api/endpoints/automl.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance multi-Python infrastructure with comprehensive testing support
  .github/workflows/multi-python-testing.yml
  deploy/docker/Dockerfile.multi-python
  scripts/validate_multi_python.py
  tests/application/services/test_automl_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add performance integration tests and Buck2 benchmark results
  buck2_performance_report.json
  tests/integration/test_performance_integration.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance result DTOs and complete tox configuration for multi-Python testing
  src/pynomaly/application/dto/result_dto.py
  tox.ini
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add multi-Python version documentation and error detection utilities
  docs/MULTI_PYTHON_VERSIONS.md
  find_real_errors.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete AutoML optimization use case with comprehensive implementation
  src/pynomaly/application/use_cases/automl_optimization.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive regression test suite for quality assurance
  tests/integration/test_regression_suite.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance A/B testing service with advanced functionality
  src/pynomaly/application/services/ab_testing_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Finalize A/B testing service and AutoML optimization use case
  src/pynomaly/application/services/ab_testing_service.py
  src/pynomaly/application/use_cases/automl_optimization.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive integration testing infrastructure and documentation
  README_INTEGRATION_TESTING.md
  pytest.ini
  scripts/run_integration_tests.py
  scripts/test_health_check.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive security integration testing suite
  tests/integration/test_security_integration.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance A/B testing service with component initialization
  src/pynomaly/application/services/ab_testing_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance core application services with improved functionality
  src/pynomaly/application/services/detection_service.py
  src/pynomaly/application/services/ensemble_service.py
  src/pynomaly/application/services/model_management_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance explain anomaly use case with improved functionality
  src/pynomaly/application/use_cases/explain_anomaly.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

config: Update Claude Code settings with jq command permissions
  .claude/settings.local.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Correct PyTorch adapter indentation and method definitions
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

refactor: Update gitignore with improved Buck build artifact handling
  .gitignore
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update project documentation with latest development progress
  CHANGELOG.md
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Complete PyTorch adapter method indentation corrections
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*
