Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*

feat: Add comprehensive test environment management system
  scripts/testing/test_environment_manager.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive integration testing framework
  tests/fixtures/conftest.py
  tests/fixtures/test_data_generator.py
  tests/integration/framework.py
  tests/integration/test_end_to_end_workflows.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add test matrix configuration for comprehensive testing
  test_matrix_config.yml
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enable performance CLI and enhance AB testing framework
  src/pynomaly/domain/entities/ab_testing.py
  src/pynomaly/presentation/cli/app.py
  src/pynomaly/presentation/cli/performance.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add advanced ensemble detection and explainability services
  src/pynomaly/application/services/ensemble_detection_service.py
  src/pynomaly/application/services/explainability_engine.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add streaming detection and visualization services
  src/pynomaly/application/services/streaming_detection_service.py
  src/pynomaly/application/services/visualization_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive AutoML and explainable AI examples
  examples/automl_example.py
  examples/explainable_ai_example.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive tutorial and real-time monitoring examples
  examples/comprehensive_tutorial.py
  examples/realtime_monitoring_example.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance API endpoints and response models
  src/pynomaly/presentation/api/docs/response_models.py
  src/pynomaly/presentation/api/endpoints/advanced_ml_lifecycle.py
  src/pynomaly/presentation/api/endpoints/events.py
  src/pynomaly/presentation/api/endpoints/health.py
  src/pynomaly/presentation/api/endpoints/training.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Kubernetes streaming service deployment configuration
  deploy/kubernetes/streaming-service-deployment.yaml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add quick demonstration example for new users
  examples/quick_demo.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance infrastructure optimization and multi-tenant API
  src/pynomaly/infrastructure/config/optimization_config.py
  src/pynomaly/infrastructure/distributed/cluster_coordinator.py
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/tenant_endpoints.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add Kubernetes cache deployment configuration
  deploy/kubernetes/cache-deployment.yaml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Update deep learning adapter stubs with improved implementations
  src/pynomaly/infrastructure/adapters/deep_learning/jax_stub.py
  src/pynomaly/infrastructure/adapters/deep_learning/pytorch_stub.py
  src/pynomaly/infrastructure/adapters/deep_learning/tensorflow_stub.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance application DTOs and governance framework service
  src/pynomaly/application/dto/ensemble_dto.py
  src/pynomaly/application/dto/streaming_dto.py
  src/pynomaly/application/services/governance_framework_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance security infrastructure with advanced threat detection
  src/pynomaly/infrastructure/security/advanced_threat_detection.py
  src/pynomaly/infrastructure/security/encryption.py
  src/pynomaly/infrastructure/security/input_sanitizer.py
  src/pynomaly/infrastructure/security/security_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance presentation layer with improved API and web interfaces
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/endpoints/explainable_ai.py
  src/pynomaly/presentation/sdk/models.py
  src/pynomaly/presentation/web/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive caching infrastructure
  src/pynomaly/infrastructure/caching/advanced_cache_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive performance profiling service
  src/pynomaly/infrastructure/performance/profiling_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add industry-specific anomaly detection templates
  examples/industry_templates.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance governance framework and OpenAPI configuration
  src/pynomaly/application/services/governance_framework_service.py
  src/pynomaly/presentation/api/docs/openapi_config.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

test: Add comprehensive production enhancement integration tests
  tests/integration/test_production_enhancement_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add optimized CSV loader and performance benchmark tests
  src/pynomaly/infrastructure/data_loaders/optimized_csv_loader.py
  tests/integration/test_performance_benchmarks.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update README and TODO with comprehensive testing results
  README.md
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Temporarily disable OpenAPI docs to resolve pydantic forward reference issue
  src/pynomaly/presentation/api/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance optimized CSV loader with advanced memory management
  src/pynomaly/infrastructure/data_loaders/optimized_csv_loader.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add optimized PyOD adapter and memory management system
  src/pynomaly/infrastructure/adapters/optimized_pyod_adapter.py
  src/pynomaly/infrastructure/performance/memory_manager.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive web static assets and branding
  src/pynomaly/presentation/web/static/icons/icon-144x144.png
  src/pynomaly/presentation/web/static/img/favicon.svg
  src/pynomaly/presentation/web/static/img/logo.svg
  src/pynomaly/presentation/web/static/img/pynomaly-logo.png
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Add comprehensive API documentation and user guides
  docs/api/README.md
  docs/guides/PERFORMANCE_OPTIMIZATION.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

test: Add integration test documentation and pytest configuration
  tests/integration/README.md
  tests/integration/pytest.ini
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add production-optimized Kubernetes deployment and comprehensive tutorials
  deploy/kubernetes/production-optimized.yaml
  docs/tutorials/QUICK_START_TUTORIAL.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Re-enable OpenAPI documentation and enhance API dependencies
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/deps.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance API documentation with improved OpenAPI configuration
  src/pynomaly/presentation/api/docs/api_docs.py
  src/pynomaly/presentation/api/docs/openapi_config.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance core API endpoints with improved timezone handling
  src/pynomaly/presentation/api/endpoints/admin.py
  src/pynomaly/presentation/api/endpoints/auth.py
  src/pynomaly/presentation/api/endpoints/automl.py
  src/pynomaly/presentation/api/endpoints/autonomous.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance data and detection API endpoints with timezone improvements
  src/pynomaly/presentation/api/endpoints/datasets.py
  src/pynomaly/presentation/api/endpoints/detection.py
  src/pynomaly/presentation/api/endpoints/detectors.py
  src/pynomaly/presentation/api/endpoints/drift_monitoring.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance advanced API endpoints with comprehensive improvements
  src/pynomaly/presentation/api/endpoints/events.py
  src/pynomaly/presentation/api/endpoints/experiments.py
  src/pynomaly/presentation/api/endpoints/explainability.py
  src/pynomaly/presentation/api/endpoints/health.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance monitoring and performance API endpoints
  src/pynomaly/presentation/api/endpoints/model_lineage.py
  src/pynomaly/presentation/api/endpoints/monitoring.py
  src/pynomaly/presentation/api/endpoints/performance.py
  src/pynomaly/presentation/api/endpoints/streaming.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance training and websocket API endpoints
  src/pynomaly/presentation/api/endpoints/training.py
  src/pynomaly/presentation/api/endpoints/websocket.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update production deployment guide and Claude settings
  .claude/settings.local.json
  docs/deployment/PRODUCTION_DEPLOYMENT_GUIDE.md
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Temporarily re-disable OpenAPI docs due to persistent pydantic issues
  src/pynomaly/presentation/api/app.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report
