Repository elgerytme/Pynomaly: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

file-organization-check:
  name: File Organization Validation
  entry: python scripts/validate_file_organization.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

root-directory-protection:
  name: Root Directory Protection
  entry: python scripts/protect_root_directory.py
  language: python
  stages:
  - commit
  verbose: true

stray-file-detection:
  name: Stray File Detection
  entry: python scripts/detect_stray_files.py
  language: python
  pass_filenames: true
  stages:
  - commit

organize-imports:
  name: Organize Python Imports
  entry: python scripts/organize_imports.py
  language: python
  stages:
  - commit

validate-directory-structure:
  name: Validate Directory Structure
  entry: python scripts/validate_directory_structure.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

check-file-permissions:
  name: Check File Permissions
  entry: python scripts/check_file_permissions.py
  language: python
  stages:
  - commit

generate-structure-report:
  name: Generate Structure Report
  entry: python scripts/generate_structure_report.py
  language: python
  pass_filenames: false
  stages:
  - push

feat: Implement uncertainty quantification service for domain layer
  src/pynomaly/domain/services/uncertainty_service.py
  src/pynomaly/domain/value_objects/confidence_interval.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Implement advanced web UI components with PWA and real-time capabilities
  src/pynomaly/presentation/web/static/js/components/dashboard-layout.js
  src/pynomaly/presentation/web/static/js/src/components/user-management.js
  src/pynomaly/presentation/web/static/js/src/services/pwa-service.js
  src/pynomaly/presentation/web/static/js/src/services/websocket-service.js
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete uncertainty quantification implementation across application and infrastructure layers
  src/pynomaly/application/dto/uncertainty_dto.py
  src/pynomaly/application/use_cases/quantify_uncertainty.py
  src/pynomaly/infrastructure/adapters/uncertainty_adapter.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

ci: Add comprehensive GitHub Actions workflow for project organization validation
  .github/workflows/project-organization.yml
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive Kubernetes deployment documentation and ML lifecycle API endpoints
  deploy/kubernetes/README.md
  src/pynomaly/presentation/api/endpoints/advanced_ml_lifecycle.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Implement advanced streaming infrastructure and analytics engine
  src/pynomaly/infrastructure/streaming/real_time_anomaly_pipeline.py
  src/pynomaly/presentation/web/static/js/src/components/realtime-chart-optimizer.js
  src/pynomaly/presentation/web/static/js/src/services/analytics-engine.js
  src/pynomaly/presentation/web/templates/advanced-dashboard-demo.html
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete component library with Storybook stories and enhanced PWA features
  src/pynomaly/presentation/web/static/js/anomaly-components.js
  src/pynomaly/presentation/web/static/manifest.json
  src/pynomaly/presentation/web/static/sw.js
  stories/AccessibilityGuide.stories.mdx
  tests/unit/application/use_cases/test_quantify_uncertainty.py
  tests/unit/domain/services/test_uncertainty_service.py
  tests/unit/domain/test_confidence_interval.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Complete documentation updates and add comprehensive cross-linking analysis
  CLAUDE.md
  README.md
  TODO.md
  analyze_docs_links.py
  docs_cross_linking_analysis.json
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete comprehensive platform with streaming pipeline management and API endpoints
  CROSS_LINKING_IMPLEMENTATION_STRATEGY.md
  src/pynomaly/application/services/streaming_pipeline_manager.py
  src/pynomaly/application/services/training_service.py
  src/pynomaly/presentation/api/endpoints/streaming_pipelines.py
  src/pynomaly/presentation/api/uncertainty_endpoints.py
  src/pynomaly/presentation/web/static/js/src/components/mobile-ui.js
  src/pynomaly/presentation/web/static/js/store/anomalyStore.js
  stories/PerformanceGuide.stories.mdx
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Finalize uncertainty API endpoints with complete error handling
  src/pynomaly/presentation/api/uncertainty_endpoints.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Implement comprehensive automated training services with hyperparameter optimization
  src/pynomaly/application/services/automated_training_service.py
  src/pynomaly/application/services/training_automation_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive training job and optimization trial domain entities
  src/pynomaly/domain/entities/optimization_trial.py
  src/pynomaly/domain/entities/training_job.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Implement comprehensive training infrastructure with persistence and adapters
  src/pynomaly/infrastructure/adapters/model_trainer_adapter.py
  src/pynomaly/infrastructure/persistence/training_job_repository.py
  src/pynomaly/infrastructure/services/hyperparameter_optimization_service.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add comprehensive training automation API endpoints with WebSocket support
  src/pynomaly/presentation/api/endpoints/training.py
  src/pynomaly/presentation/api/training_automation_endpoints.py
  src/pynomaly/presentation/api/websocket/training_handler.py
  src/pynomaly/presentation/cli/training_automation_commands.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add active learning domain entities for human-in-the-loop training
  src/pynomaly/domain/entities/active_learning_session.py
  src/pynomaly/domain/entities/human_feedback.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance Storybook configuration with advanced theming and component documentation
  .storybook/addons.js
  .storybook/manager.js
  .storybook/theme.js
  stories/ComponentPatterns.stories.js
  stories/TestingGuide.stories.mdx
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add advanced form components and mobile UI enhancements with training integration
  src/pynomaly/presentation/web/static/css/mobile-ui.css
  src/pynomaly/presentation/web/static/js/components/AdvancedFormComponents.js
  src/pynomaly/presentation/web/static/js/components/FormInputComponents.js
  src/pynomaly/presentation/web/static/js/main.js
  src/pynomaly/presentation/web/static/js/src/components/training-monitor.js
  src/pynomaly/presentation/web/static/js/src/services/automl-service.js
  src/pynomaly/presentation/web/templates/advanced-forms-demo.html
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Add comprehensive documentation automation and streaming infrastructure tests
  package.json
  scripts/documentation/enhance_cross_links.py
  scripts/documentation/implement_breadcrumbs.py
  tests/infrastructure/streaming/test_real_time_anomaly_pipeline.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Complete comprehensive documentation updates with training automation features
  TODO.md
  docs/deployment/SECURITY.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/reference/algorithms/algorithm-comparison.md
  docs/user-guides/basic-usage/autonomous-mode.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Complete comprehensive enterprise platform with active learning and explainable AI
  TODO.md
  package.json
  reports/source_structure_validation.json
  scripts/validation/validate_source_structure.py
  src/pynomaly/application/dto/active_learning_dto.py
  src/pynomaly/application/dto/training_dto.py
  src/pynomaly/application/use_cases/manage_active_learning.py
  src/pynomaly/domain/services/active_learning_service.py
  src/pynomaly/domain/value_objects/hyperparameters.py
  src/pynomaly/infrastructure/config/optimization_config.py
  src/pynomaly/infrastructure/monitoring/external_monitoring_service.py
  src/pynomaly/presentation/api/active_learning_endpoints.py
  src/pynomaly/presentation/api/endpoints/explainable_ai.py
  src/pynomaly/presentation/web/static/css/advanced-dashboard.css
  src/pynomaly/presentation/web/static/css/dashboard-layout.css
  src/pynomaly/presentation/web/static/js/components/DashboardLayoutSystem.js
  src/pynomaly/presentation/web/static/js/components/DragDropDashboard.js
  src/pynomaly/presentation/web/static/js/components/advanced-dashboard.js
  src/pynomaly/presentation/web/static/js/src/components/automl-interface.js
  src/pynomaly/presentation/web/templates/dashboard-demo.html
  tests/application/services/test_explainable_ai_service.py
  tests/unit/domain/entities/test_human_feedback.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Complete enterprise platform with advanced alerting and training persistence
  TODO.md
  src/pynomaly/infrastructure/monitoring/advanced_alerting_service.py
  src/pynomaly/infrastructure/persistence/training_repository.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Add domain purity validation and analysis tools
  reports/domain_purity_analysis.json
  scripts/validation/fix_domain_purity.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Update TODO.md with enterprise platform completion status
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Clean up .gitignore and remove build/ exclusion
  .gitignore
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Add project structure documentation and environment organization
  .gitignore
  CLAUDE.md
  PROJECT_STRUCTURE.md
  config/environments/requirements-minimal.txt
  config/environments/requirements-production.txt
  config/environments/requirements-server.txt
  config/environments/requirements-test.txt
  environments/README.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Update TODO.md with Phase 8.3 Web UI Enhancement current work
  TODO.md
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

fix: Enhance .gitignore with comprehensive patterns
  .gitignore
Due: file-organization-check, root-directory-protection, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance core application services and domain entities
  pyproject.toml
  src/pynomaly/_version.py
  src/pynomaly/application/dto/streaming_dto.py
  src/pynomaly/application/services/governance_framework_service.py
  src/pynomaly/application/services/model_lineage_service.py
  src/pynomaly/domain/entities/alert.py
  src/pynomaly/domain/entities/drift_detection.py
  src/pynomaly/presentation/api/app.py
  src/pynomaly/presentation/api/endpoints/performance.py
Due: file-organization-check, root-directory-protection, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Improve web UI infrastructure and presentation layer
  .claude/settings.local.json
  scripts/run/run_web_app.py
  scripts/run/run_web_ui.py
  src/pynomaly/presentation/web/templates/base.html
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

docs: Add comprehensive testing and validation reports
  reports/SCRIPT_TESTING_COMPREHENSIVE_REPORT.md
  reports/file_organization_validation.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

docs: Reorganize documentation structure and add comprehensive analysis
  docs/CROSS_LINKING_IMPLEMENTATION_STRATEGY.md
  docs/DOCUMENTATION_CROSS_LINKING_ANALYSIS_REPORT.md
  docs/DOCUMENTATION_CROSS_LINKING_EXECUTIVE_SUMMARY.md
  docs/project/PROJECT_STRUCTURE.md
  reports/BROKEN_LINKS_DETAILED_ANALYSIS.md
  reports/PYNOMALY_FEATURE_GAP_ANALYSIS.md
  reports/docs_cross_linking_analysis.json
  scripts/analysis/analyze_docs_links.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Improve testing scripts and health check functionality
  scripts/testing/test-current.sh
  scripts/testing/test_health_check.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

feat: Enhance AB test domain entity with advanced functionality
  src/pynomaly/domain/entities/ab_test.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

chore: Update Claude Code settings for enhanced development workflow
  .claude/settings.local.json
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

feat: Enhance drift detection domain entity with comprehensive monitoring
  docs/project/PROJECT_STRUCTURE.md
  src/pynomaly/domain/entities/drift_detection.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

fix: Enhance web UI templates with improved design system integration
  src/pynomaly/presentation/web/templates/base.html
  src/pynomaly/presentation/web/templates/index.html
Due: file-organization-check, stray-file-detection, validate-directory-structure, generate-structure-report

test: Enhance comprehensive conditional logic test coverage
  tests/branch_coverage/test_conditional_logic_comprehensive.py
Due: file-organization-check, stray-file-detection, organize-imports, validate-directory-structure, check-file-permissions, generate-structure-report

Path conditions:
  file-organization-check: any of: .*
  root-directory-protection: any of: ^[^/]+$
  stray-file-detection: any of: .*
  organize-imports: any of: \.py$
  validate-directory-structure: any of: .*
  check-file-permissions: any of: \.(py|sh|ps1)$
  generate-structure-report: any of: .*
