Repository elgerytme/Pynomaly: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, api, domain, infrastructure

feat: Complete Phase 3.5 Data Lineage and Impact Tracking implementation
  TODO.md
  src/packages/cli/commands/__init__.py
  src/packages/data_quality/application/services/adaptive_quality_controls.py
  src/packages/data_quality/application/services/executive_reporting_service.py
  src/packages/data_quality/application/services/intelligent_quality_orchestration.py
  src/packages/data_quality/application/services/optimized_validation_engine.py
  src/packages/data_quality/application/services/performance_optimizer.py
  src/packages/data_quality/application/services/pipeline_integration_framework.py
  src/packages/data_quality/infrastructure/performance/dashboard_performance_optimizer.py
  src/pynomaly/_version.py
  tests/packages/data_quality/application/services/test_performance_optimizations.py
  tests/packages/data_quality/application/services/test_quality_lineage_service.py
Due: unittests, integration

Complete GitHub issue #154: Data Quality Package - Data Lineage and Impact Tracking
  src/packages/api/api/endpoints/pattern_recognition.py
  src/packages/cli/commands/data_science.py
  src/packages/data_quality/application/services/distributed_quality_processing.py
Due: none

test: Add executive reporting test suite
  tests/packages/data_quality/test_executive_reporting_suite.py
Due: none

feat: Complete Issue #153 - Phase 3.4: Data Quality Package - Executive Reporting and Analytics
  TODO.md
  src/packages/cli/commands/profiling.py
  src/packages/data_quality/application/services/self_monitoring_optimization.py
Due: none

feat: Complete GitHub Issue #140 - Data Quality Package Validation Engine
  src/packages/data_quality/application/services/intelligent_caching_framework.py
Due: none

chore: Update GitHub Issues Status - Mark Completed Issues as Closed
  TODO.md
Due: none

docs: Update GitHub issues list - Mark Issue #140 as completed
  TODO.md
Due: none

docs: Complete Issue #153 - Executive Reporting and Analytics Package
  TODO.md
Due: none

feat: Complete Issue #159 - Phase 4.2 CLI Interface - Data Science Command Line Tools
  pyproject.toml
Due: none

docs: Update GitHub issue statuses - Close completed issues
  TODO.md
Due: none

feat: Enhance CLI interface and add Python SDK foundation
  src/packages/python_sdk/__init__.py
  src/packages/python_sdk/application/dto/detection_dto.py
  src/packages/python_sdk/application/services/detection_service.py
  src/packages/python_sdk/client.py
  src/packages/python_sdk/docs/examples/basic_usage.py
  src/packages/python_sdk/infrastructure/adapters/algorithm_adapter.py
  src/packages/python_sdk/infrastructure/adapters/pyod_algorithm_adapter.py
  src/packages/python_sdk/presentation/cli/detection_cli.py
  src/packages/python_sdk/pyproject.toml
  src/packages/python_sdk/tests/unit/test_algorithm_config.py
  src/pynomaly/presentation/cli/health_check.py
  src/pynomaly/presentation/cli/lazy_app.py
Due: unittests, integration

feat: Complete Python SDK implementation and CLI health check
  src/packages/data_quality/application/services/enterprise_performance_optimizer.py
  src/packages/data_quality/application/services/performance_monitoring_tuning.py
Due: none

docs: Update TODO.md to GitHub CLI reference and sync configuration
  .claude/settings.local.json
  TODO.md
  src/pynomaly/_version.py
  tests/packages/mobile/test_mobile_quality_monitoring.py
Due: unittests, integration

feat: Complete Issue #161 - Phase 4.4: Mobile App - Data Quality Monitoring
  .github/REPOSITORY_RULES.md
  .github/workflows/todo-policy-enforcement.yml
Due: none

policy: Add repository rules and automated enforcement for TODO.md
  .claude/settings.local.json
  src/packages/python_sdk/README.md
  src/packages/python_sdk/examples/comprehensive_example.py
  src/packages/python_sdk/pyproject.toml
  tests/packages/python_sdk/test_client.py
Due: none

feat: Complete Issue #152 - Quality Governance Framework
  scripts/validate_dependencies.py
  src/packages/data_quality/application/services/data_privacy_protection_service.py
Due: none

feat: Complete TODO.md policy implementation and SDK development
  src/packages/data_quality/application/services/regulatory_compliance_automation.py
  src/packages/data_quality/domain/entities/security_entity.py
  src/packages/sdk/pynomaly-js-sdk/README.md
  src/packages/sdk/pynomaly-js-sdk/package.json
  src/packages/sdk/pynomaly-js-sdk/src/auth/auth-manager.ts
  src/packages/sdk/pynomaly-js-sdk/src/auth/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/auth/security-utils.ts
  src/packages/sdk/pynomaly-js-sdk/src/auth/token-validator.ts
  src/packages/sdk/pynomaly-js-sdk/src/core/async-api.ts
  src/packages/sdk/pynomaly-js-sdk/src/core/client.ts
  src/packages/sdk/pynomaly-js-sdk/src/core/websocket.ts
  src/packages/sdk/pynomaly-js-sdk/src/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/types/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/utils/compatibility-test.ts
  src/packages/sdk/pynomaly-js-sdk/src/utils/compatibility.ts
  src/packages/sdk/pynomaly-js-sdk/src/utils/environment.ts
  src/packages/sdk/pynomaly-js-sdk/src/utils/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/utils/polyfills.ts
  src/pynomaly/_version.py
  src/pynomaly/presentation/web/static/css/mobile-enhancements.css
  src/pynomaly/presentation/web/static/js/src/components/mobile-ui-enhancements.js
  src/pynomaly/presentation/web/static/js/src/components/tablet-optimization.js
Due: unittests, integration

feat: Complete Phase 5.1 Python SDK - Data Science Client Library (#162)
  src/packages/data_quality/application/services/enterprise_access_control_service.py
  src/packages/data_quality/application/services/pii_detection_service.py
  src/packages/data_quality/application/services/privacy_analytics_service.py
  src/packages/sdk/pynomaly-js-sdk/examples/cross-platform-usage.js
  src/packages/sdk/pynomaly-js-sdk/package.json
Due: none

feat: Complete GitHub Issues #9, #11, #13, #16, #17, #18 - Major feature implementations
  src/packages/data_quality/application/services/compliance_framework_service.py
  src/packages/data_quality/application/services/consent_management_service.py
  src/packages/data_quality/application/services/data_encryption_protection_service.py
  src/packages/data_quality/application/services/privacy_impact_assessment_service.py
  src/packages/data_quality/application/services/security_monitoring_threat_detection.py
Due: none

feat: Complete Issue #156 - Phase 3.7 Data Quality Package Enterprise Security and Compliance
  src/packages/data_quality/__init__.py/__init__.py
  src/packages/data_quality/application/services/access_control_service.py
  src/packages/data_quality/application/services/security_orchestration_service.py
  src/packages/data_quality/docs/security_compliance_documentation.md
  src/packages/data_quality/tests/security_integration_tests.py
Due: none

feat: Complete Issue #156 - Phase 3.7 Enterprise Security and Compliance
  .claude/settings.local.json
  src/packages/data_quality/application/services/audit_compliance_reporting_service.py
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/components/PynomalyProvider.tsx
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/hooks/useAnomalyDetection.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/hooks/usePynomalyAuth.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/hooks/usePynomalyClient.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/hooks/useWebSocket.ts
Due: none

feat: Complete GitHub Issue #19 - CLI Command Completion
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/angular/services/pynomaly-auth.service.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/angular/services/pynomaly.service.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/components/AnomalyDetector.tsx
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/react/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/vue/components/AnomalyDetector.vue
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/vue/components/PynomalyProvider.vue
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/vue/composables/useAnomalyDetection.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/vue/composables/usePynomalyAuth.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/vue/composables/usePynomalyClient.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/vue/index.ts
  src/pynomaly/presentation/cli/app.py
  src/pynomaly/presentation/cli/dashboard_typer.py
  src/pynomaly/presentation/cli/governance_typer.py
  src/pynomaly/presentation/cli/help_formatter.py
  src/pynomaly/presentation/cli/lazy_app.py
  src/pynomaly/presentation/cli/security_typer.py
Due: unittests, integration

feat: Complete GitHub Issue #23 - Multi-Environment Deployment Pipeline
  docs/deployment/DEPLOYMENT_GUIDE.md
  scripts/verify_deployment.py
  src/packages/sdk/pynomaly-js-sdk/docs/framework-integration.md
  src/packages/sdk/pynomaly-js-sdk/examples/angular-example.component.ts
  src/packages/sdk/pynomaly-js-sdk/examples/react-example.tsx
  src/packages/sdk/pynomaly-js-sdk/examples/vue-example.vue
  src/packages/sdk/pynomaly-js-sdk/jest.config.js
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/angular/components/anomaly-detector.component.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/angular/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/angular/pynomaly.module.ts
  src/packages/sdk/pynomaly-js-sdk/src/frameworks/index.ts
  src/packages/sdk/pynomaly-js-sdk/src/index.ts
  src/packages/sdk/pynomaly-js-sdk/tests/setup.ts
  src/packages/sdk/pynomaly-js-sdk/tests/utils/test-helpers.ts
  src/pynomaly/presentation/cli/deployment.py
  src/pynomaly/presentation/cli/health_check.py
Due: unittests, integration

feat: Initialize Mathematics Package - Foundation for 21 Package Ecosystem
  src/packages/mathematics/__init__.py
  src/packages/mathematics/domain/entities/__init__.py
  src/packages/mathematics/domain/entities/math_function.py
  src/packages/mathematics/domain/entities/matrix.py
  src/packages/mathematics/pyproject.toml
  src/packages/mathematics/requirements.md
Due: none

feat: Complete Issue #27 - User Guide Video Tutorials
  docs/tutorials/video/README.md
  src/pynomaly/application/services/video_tutorial_service.py
  src/pynomaly/presentation/cli/app.py
  src/pynomaly/presentation/cli/video_tutorial_cli.py
  src/pynomaly/presentation/web/routes/video_tutorials.py
  src/pynomaly/presentation/web/templates/video_tutorials.html
  tests/integration/test_video_tutorial_integration.py
Due: unittests, integration

feat: Complete GitHub Issue #163 - JavaScript SDK Web Integration Library
  .claude/settings.local.json
  src/packages/sdk/pynomaly-js-sdk/docs/api-reference.md
  src/packages/sdk/pynomaly-js-sdk/docs/examples/README.md
  src/packages/sdk/pynomaly-js-sdk/docs/examples/frameworks/react-examples.jsx
  src/packages/sdk/pynomaly-js-sdk/docs/examples/getting-started.js
  src/packages/sdk/pynomaly-js-sdk/jest.config.js
  src/packages/sdk/pynomaly-js-sdk/package-lock.json
  src/packages/sdk/pynomaly-js-sdk/package.json
  src/packages/sdk/pynomaly-js-sdk/tests/auth/auth-manager.unit.test.ts
  src/packages/sdk/pynomaly-js-sdk/tests/core/client.unit.test.ts
  src/packages/sdk/pynomaly-js-sdk/tests/core/websocket.unit.test.ts
  src/packages/sdk/pynomaly-js-sdk/tests/frameworks/react/hooks.unit.test.tsx
  src/packages/sdk/pynomaly-js-sdk/tests/integration/end-to-end.integration.test.ts
  src/packages/sdk/pynomaly-js-sdk/tests/setup.ts
  src/packages/sdk/pynomaly-js-sdk/tests/simple.test.ts
  src/packages/sdk/pynomaly-js-sdk/tests/utils/environment.unit.test.ts
  src/pynomaly/_version.py
  src/pynomaly/application/services/interfaces/__init__.py
  src/pynomaly/domain/repositories/__init__.py
  src/pynomaly/domain/security/__init__.py
  src/pynomaly/infrastructure/backup/__init__.py
  src/pynomaly/infrastructure/caching/__init__.py
  src/pynomaly/infrastructure/monitoring/websocket_auth_service.py
Due: unittests, integration, domain, infrastructure

fix: Resolve API dependency injection parameter signature issue (#210)
  src/pynomaly/presentation/api/dependencies/__init__.py
Due: unittests, integration, api

feat: Add comprehensive testing infrastructure and security components
  comprehensive_test_runner.py
  src/packages/mlops/__init__.py
  src/pynomaly/domain/security/security_context.py
  src/pynomaly/domain/security/security_policy.py
  src/pynomaly/presentation/web/app.py
Due: unittests, integration, domain

fix: resolve version constraint mismatches in dependencies (closes #194)
  pyproject.toml
  scripts/validate_dependencies.py
Due: none

feat: complete issue #211 - comprehensive multi-environment testing results
  scripts/validate_dependencies.py
Due: none

fix: Complete GitHub Issue #198 - Async Event Loop Issues in Security Monitoring
  .claude/settings.local.json
Due: none

feat: Complete GitHub Issue #213 - Modernize Dependency Validation Script
  src/packages/data_quality/application/services/validation_engine.py
Due: none

feat: Complete GitHub Issue #197 - Enterprise Database Adapters Implementation
  src/packages/enterprise/enterprise-packages/packages/adapters/src/enterprise_adapters/database.py
Due: none

feat: Complete GitHub Issue #199 - Update Pydantic Configurations for V3.0 Compatibility
  .claude/settings.local.json
  PYDANTIC_V3_MIGRATION.md
  migrate_pydantic_config.py
  pyproject.toml
  src/packages/core/domain/abstractions/base_entity.py
  src/packages/core/domain/abstractions/base_value_object.py
  src/packages/data_quality/application/services/__init__.py
  src/packages/data_quality/application/services/rule_management_service.py
  src/packages/data_quality/application/services/validation_engine.py
  src/packages/data_quality/infrastructure/config/__init__.py
  src/packages/data_quality/infrastructure/config/quality_config.py
  src/packages/data_quality/infrastructure/logging/__init__.py
  src/packages/data_quality/infrastructure/logging/quality_logger.py
  src/packages/data_transformation/application/dto/pipeline_result.py
  src/packages/data_transformation/domain/entities/transformation_pipeline.py
  src/packages/infrastructure/infrastructure/distributed/distributed_detector.py
  src/packages/infrastructure/infrastructure/security/audit_logger.py
  src/packages/infrastructure/infrastructure/security/encryption.py
  src/packages/infrastructure/infrastructure/security/session_manager.py
  src/packages/mlops/pynomaly_mlops/domain/entities/pipeline.py
  src/packages/sdk/pynomaly-js-sdk/jest.config.js
  src/packages/sdk/pynomaly-js-sdk/package-lock.json
  src/packages/sdk/pynomaly-js-sdk/package.json
  src/packages/sdk/pynomaly-js-sdk/rollup.config.js
  src/pynomaly/application/services/video_tutorial_service.py
  src/pynomaly/domain/abstractions/base_entity.py
  src/pynomaly/domain/abstractions/base_value_object.py
  src/pynomaly/infrastructure/adapters/text_adapter.py
  src/pynomaly/infrastructure/config/feature_flags.py
  src/pynomaly/infrastructure/distributed/distributed_detector.py
  src/pynomaly/infrastructure/security/audit_logger.py
  src/pynomaly/infrastructure/security/encryption.py
  src/pynomaly/infrastructure/security/session_manager.py
  src/pynomaly/presentation/sdk/models.py
  tests/test_streaming_standalone.py
  tests/unit/infrastructure/adapters/test_text_adapter.py
Due: unittests, integration, domain, infrastructure

feat: Complete GitHub Issue #200 - Multi-Modal Detection Service Features
  src/packages/services/services/multi_modal_detection_service.py
Due: none

feat: Complete GitHub Issue #214 - Production-Ready Multi-Environment Testing Pipeline
  .github/workflows/multi-environment-testing.yml
  scripts/environment_manager.py
  tests/framework/multi_environment_test_framework.py
  tests/performance/regression/performance_regression_detector.py
  tests/test_matrix_enhanced.yml
Due: none

Path conditions:
  unittests: any of: src/pynomaly/
  integration: any of: src/pynomaly/
  api: any of: src/pynomaly/presentation/api/
  domain: any of: src/pynomaly/domain/
  infrastructure: any of: src/pynomaly/infrastructure/
